.mp_wrap {
	border-top: 1px solid rgba(255,255,255,.4);
	padding-top: 15px;
}

.mp_top_nav
{
	background: url("images/topshadow.png") no-repeat center bottom / 100% 10px;
	padding-bottom: 15px;
	position: relative;
}

.mp_top_nav_ul
{
	display: block;
	margin: 0;
	padding: 0;
}

.mp_dt_rc_graybutton, .mp_top_nav_ul_li
{
	display: inline-block;
	margin: 0 10px;
	position: relative;
}

.leftborder, .rightborder
{
	display: none;
	height: 45px;
	position: absolute;
	top: 0;
	width: 7px;
}

.mp_dt_rc_graybutton a, .mp_top_nav_ul_li > a
{
	color: #252c38;
	display: block;
	font-size: 15px;
	height: 45px;
	line-height: 44px;
	margin-bottom: 2px;
	padding: 0 15px 0 35px;
	position: relative;
	text-decoration: none;
}

.mp_dt_rc_graybutton a, .mp_top_nav_ul_li:hover > a
{
	background: url("images/top_nav_center.png") repeat-x center bottom;
}

.mp_dt_rc_graybutton .leftborder, .mp_top_nav_ul_li:hover .leftborder
{
	background: url("images/top_nav_leftborder.png") no-repeat left bottom;
	display: block;
	left: -7px;
}

.mp_dt_rc_graybutton .rightborder, .mp_top_nav_ul_li:hover .rightborder
{
	background: url("images/top_nav_rightborder.png") no-repeat right bottom;
	display: block;
	right: -7px;
}

.mp_dt_rc_graybutton a
{
	color: #5b6371;
	font-weight: bold;
	padding: 0 15px;
}

.mp_dt_rc_graybutton:active a, .mp_top_nav_ul_li > a:active, .mp_top_nav_ul_li.active > a, .mp_top_nav_ul_li:active > a
{
	background: url("images/top_nav_center.png") repeat-x center top;
	bottom: -2px;
	display: block;
	height: 45px;
	line-height: 40px;
	margin-bottom: 0;
	outline: medium none;
	position: relative;
}

.mp_dt_rc_graybutton:active a .leftborder, .mp_top_nav_ul_li.active > a .leftborder, .mp_top_nav_ul_li > a:active .leftborder
{
	background: url("images/top_nav_leftborder.png") no-repeat left top;
	display: block;
	left: -7px;
	outline: medium none;
}

.mp_dt_rc_graybutton:active a .rightborder, .mp_top_nav_ul_li.active > a .rightborder, .mp_top_nav_ul_li > a:active .rightborder
{
	background: url("images/top_nav_rightborder.png") no-repeat right top;
	display: block;
	right: -7px;
}

.mp_top_nav_ul_li.top .icon, .mp_top_nav_ul_li.updates .icon, .mp_top_nav_ul_li.category .icon, .mp_top_nav_ul_li.sale .icon
{
	background: url("images/icons.png") no-repeat 0 0;
	display: inline-block;
	height: 21px;
	left: 7px;
	position: absolute;
	top: 11px;
	width: 20px;
}

.mp_top_nav_ul_li.top .icon
{
	background-position: 0 0;
}

.mp_top_nav_ul_li.updates .icon
{
	background-position: -60px 0;
}

.mp_top_nav_ul_li.category .icon
{
	background-position: -20px 0;
}

.mp_top_nav_ul_li.sale .icon
{
	background-position: -40px 0;
}

.mp_top_nav_ul_li.active .icon, .mp_top_nav_ul_li:active .icon
{
	top: 9px;
}

.mp_top_nav_ul_li.category > a .arrow
{
	background: url("images/arrow.png") no-repeat 0 0;
	display: inline-block;
	height: 20px;
	position: absolute;
	right: 3px;
	top: 21px;
	width: 6px;
}

.mp_top_nav_ul_sub
{
	background: none repeat 0 0 #f8fafb;
	border: 1px solid #d4e0e2;
	border-radius: 3px;
	box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 20px 18px 0 rgba(88, 112, 118, 0.13);
	margin: -5px 0 0;
	padding: 8px;
	position: absolute;
	right: -13px;
	z-index: 200;
}

.mp_top_nav_ul_sub li
{
	display: block;
	list-style: none outside none;
	white-space: nowrap;
}

.mp_top_nav_ul_sub li a
{
	color: #555555;
	display: block;
	font-size: 13px;
	padding: 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.mp_top_nav_ul_sub li a:hover
{
	background: none repeat 0 0 #dae4e6;
	border: 1px solid #b4bdbe;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 7px;
}

.mp_top_nav_ul_sub .arrow
{
	background: url("images/top.png") no-repeat center bottom;
	height: 10px;
	position: absolute;
	right: 10px;
	top: -10px;
	width: 18px;
}

.mp_search_container
{
	border: 1px solid #b9bcbe;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15) inset;
	height: 31px;
	position: absolute;
	right: 10px;
	top: 5px;
	width: 214px;
}

.mp_search_result
{
	background: none repeat 0 0 #f8fafb;
	border: 1px solid #d4e0e2;
	border-radius: 3px;
	box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 20px 18px 0 rgba(88, 112, 118, 0.13);
	display: none;
	left: -1px;
	margin: 0;
	padding: 8px;
	position: absolute;
	right: -1px;
	top: 100%;
	z-index: 200;
}

.mp_search_input_text
{
	border: none;
	background: none;
	left: 5px;
	outline: medium none;
	height: 100%;
	padding: 0;
	position: absolute;
	top: 0;
	width: 170px;

}

.mp_search_list_solutions
{
	margin: 0;
	padding: 0;
}

.mp_search_list_solutions li
{
	border: 1px solid #f8fafb;
	display: block;
	height: 40px;
	margin-bottom: 5px;
	padding-left: 40px;
	position: relative;
	transition: background 0.1s ease-in-out 0s;
	white-space: normal;
}

.mp_search_list_solutions li:hover
{
	background: none repeat 0 0 #dae4e6;
	border: 1px solid #b4bdbe;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
}

.mp_search_ls_img
{
	background: url("images/default-upic-mp.png") no-repeat center center / 100% 100%;
	border-radius: 4px;
	box-sizing: border-box;
	display: block;
	height: 30px;
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	width: 30px;
	z-index: 102;
}

.mp_search_ls_img span
{
	display: block;
	height: 30px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 300px;
}

.mp_search_ls_img img
{
	border-radius: 3px;
	height: 30px;
	width: auto;
}

.mp_search_ls_title
{
	color: #404a58;
	display: block;
	font-size: 13px;
	font-weight: bold;
	line-height: 40px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
}

.mp_search_ls_shadow
{
	background: url("images/frame.png") no-repeat left top / 32px 36px;
	height: 35px;
	left: 4px;
	position: absolute;
	top: 4px;
	width: 33px;
	z-index: 104;
}

.mp_search_submit
{
	background: url("images/icon_search.png") no-repeat center center;
	border: medium none;
	cursor: pointer;
	height: 16px;
	padding: 2px;
	position: absolute;
	right: 10px;
	top: 6px;
	width: 16px;
}

.mp_dt_title_icon
{
	float: left;
	height: 91px;
	margin-bottom: 20px;
	margin-left: 15px;
	position: relative;
}

.mp_td_owner, .mp_dt_title_section, .mp_dt_pp_title_section
{
	font-weight: bold;
	line-height: 25px;
	margin: 0 0 0 125px;
}

.mp_dt_title_section
{
	padding-top: 10px;
}

.mp_td_owner
{
	font-size: 13px;
}

.mp_td_owner a
{
	color: #2785b3;
}

.mp_td_owner a:hover
{
	text-decoration: none;
}

.mp_dt_title_section, .mp_title_section
{
	color: #3a4255;
	font-size: 25px;
}

.mp_dt_pp_title_section
{
	font-size: 18px;
	padding-top: 10px;
}

.mp_section_container
{
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(42, 48, 60, 0.39);
}

.mp_dt_container
{
	padding: 15px;
	position: relative;
}

.mp_sc_container
{
	border-bottom: 1px solid #dde7ec;
	padding: 15px;
	position: relative;
}

.mp_section_container .mp_sc_container:last-child
{
	border: medium none;
}

.mp_sc_container.buttons
{
	height: 30px;
}

.mp_sc_title
{
	color: #878b94;
	font-size: 17px;
	font-weight: bold;
}

.mp_sc_slide
{
	position: relative;
	width: 100%;
}

.mp_sc_list_solutions
{
	padding: 0;
	white-space: nowrap;
}

.mp_sc_list_solutions li
{
	display: block;
	float: left;
	margin-bottom: 30px;
	min-height: 100px;
	position: relative;
	white-space: normal;
	width: 25%;
}

@media (max-width: 995px)
{
	.mp_sc_list_solutions li
	{
		width: 33%;
	}
}

.mp_sc_ls_li_hover
{
	background: none repeat 0 0 #ffffff;
	border: 1px solid #ededed;
	border-radius: 5px;
	bottom: -20px;
	box-shadow: 0 10px 16px 0 rgba(42, 48, 60, 0.29);
	display: none;
	left: -5px;
	position: absolute;
	right: 0;
	top: -5px;
	z-index: 100;
}

.mp_sc_ls_li_hover a
{
	background: linear-gradient(to bottom, #ffae00 0%, #ff8000 100%) repeat 0 0;
	border-color: #ffc600 #ffb900 #ff8000;
	border-left: 1px solid #ffb900;
	border-radius: 5px;
	border-right: 1px solid #ffb900;
	border-style: solid;
	border-width: 1px;
	bottom: 8px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 #ffc600 inset;
	color: #ffffff;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 8px;
	position: absolute;
	right: 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.mp_sc_ls_li_hover a:hover
{
	color: #fff;
}

.mp_sc_list_solutions li:hover .mp_sc_ls_li_hover
{
	display: block;
}

.mp_sc_ls_img
{
	background: url("images/default-upic-mp.png") no-repeat center center / 100% 100%;
	border-radius: 9px;
	box-sizing: border-box;
	display: block;
	height: 79px;
	left: 5px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	width: 81px;
	z-index: 102;
}

.mp_sc_ls_img span
{
	display: block;
	height: 79px;
	left: 50%;
	margin-left: -150px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 300px;
}

.mp_sc_ls_img img
{
	border-radius: 7px;
	height: 79px;
	width: auto;
}

.mp_discount_icon
{
	background: url("images/percent.png") no-repeat 0 0;
	bottom: -6px;
	display: block;
	height: 34px;
	left: 1px;
	position: absolute;
	width: 34px;
	z-index: 999;
}

.mp_installed_icon
{
	background: url("images/li.png") no-repeat left center;
	bottom: -6px;
	display: block;
	height: 12px;
	left: 2px;
	position: absolute;
	width: 150px;
	z-index: 999;
	font-size: 0.8em;
	padding-left: 15px;
}

.mp_sc_ls_shadow
{
	background: url("images/frame.png") no-repeat left top;
	height: 91px;
	left: 2px;
	position: absolute;
	top: 4px;
	width: 87px;
	z-index: 104;
}

.mp_sc_ls_container
{
	left: 100px;
	position: absolute;
	right: 5px;
	top: 3px;
	word-wrap: break-word;
	z-index: 102;
}

.mp_sc_ls_title
{
	color: #404a58;
	display: block;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}

.mp_sc_ls_title.crop
{
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mp_sc_ls_price
{
	color: #000000;
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding-top: 7px;
}

.mp_sc_ls_stars
{
	background: url("images/star.png") no-repeat left center;
	color: #a5adb7;
	font-size: 14px;
	padding-left: 20px;
}

.bt_gray
{
	background: linear-gradient(to bottom, #dee9ec 0%, #fafafa 100%) repeat 0 0;
	border-color: #fafafa #f1f6f7 #dee9ec;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.11), 0 1px 1px rgba(0, 0, 0, 0.4), 0 0 1px rgba(255, 255, 255, 0.5) inset;
	color: #585c68 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin-right: 10px;
	padding: 8px 17px !important;
	text-decoration: none;
	text-shadow: 0 1px #ffffff;
}

.bt_gray:hover
{
	background: none repeat 0 0 #f1f6f7;
	text-decoration: none;
}

.bt_gray:active
{
	background: linear-gradient(to bottom, rgba(191, 205, 210, 0.79) 0%, rgba(211, 223, 226, 0.79) 100%) repeat 0 0;
	bottom: -1px;
	box-shadow: 0 1px 1px 1px rgba(122, 128, 141, 0.78) inset;
	position: relative;
}

.mp_dt_left_container
{
	float: left;
	padding: 5px;
	width: 220px;
}

.mp_dt_right_container
{
	margin-left: 230px;
	padding: 5px;
}

.mp_dt_preview img
{
	border: 1px solid #e6e6e6;
}

.mp_dt_lc_slider
{
	height: 45px;
	margin-bottom: 25px;
	margin-top: 10px;
	position: relative;
	width: 173px;
}

.mp_dt_lc_slider_container
{
	height: 45px;
	margin: 0 20px;
	overflow: hidden;
	position: relative;
	width: 133px;
}

.mp_dt_preview_list
{
	display: block;
	height: 45px;
	margin: 0;
	padding: 0;
	text-align: center;
	white-space: nowrap;
}

.mp_dt_preview_list li
{
	border: 1px solid #e6e6e6;
	display: inline-block;
	padding: 0;
	width: 39px;
}

.mp_dt_lc_slider_right, .mp_dt_lc_slider_left
{
	cursor: pointer;
	height: 45px;
	opacity: 0.1;
	position: absolute;
	top: 0;
	width: 12px;
}

.mp_dt_lc_slider_left
{
	background: url("images/left.png") no-repeat center center;
	left: 0;
}

.mp_dt_lc_slider_right
{
	background: url("images/right.png") no-repeat center center;
	right: 0;
}

.mp_dt_lc_slider_right:hover, .mp_dt_lc_slider_left:hover
{
	opacity: 0.5;
}

.mp_dt_lc_desc
{
	font-size: 12px;
	line-height: 30px;
}

.mp_lt_right_container, .mp_lt_left_container
{
	box-sizing: border-box;
	float: left;
	min-height: 105px;
	position: relative;
	width: 25%;
}

.mp_lt_right_container
{
	padding-top: 35px;
	text-align: center;
}

.mp_lt_centrer_container
{
	box-sizing: border-box;
	float: left;
	width: 50%;
}

.mp_lt_centrer_container p
{
	color: #585e6c;
	font-size: 14px;
	line-height: 19px;
	margin-top: 0;
	padding: 0 20px;
}

.mp_delete_confirm
{
	margin: 10px;
}

.mp_install_confirm
{
	margin: 20px;
}

.mp_delete_confirm_text
{
	font-weight: bold;
	margin-bottom: 8px;
}

.mp_install_confirm_text
{
	margin-bottom: 8px;
	text-align: center;
}

.bt_popup_arrow, .bt_green
{
	background: linear-gradient(to bottom, #a2d43b 0%, #689a01 100%) repeat 0 0;
	border: none;
	border-top: 1px solid #88c900;
	border-radius: 3px;
	box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin-right: 5px;
	padding: 8px 17px !important;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(52, 100, 119, 0.05), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.bt_popup_arrow:hover, .bt_green:hover
{
	background: linear-gradient(to bottom, #a2d43b 0%, #689a01 100%) repeat 0 0;
	box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: #ffffff;
	text-decoration: none;
}

.bt_popup_arrow:active, .bt_green:active
{
	background-color: #649f00;
	border-top: 1px solid #649f00;
	bottom: -1px;
	box-shadow: 0 1px 0 rgba(69, 102, 9, 0.31) inset;
	color: #ffffff;
	position: relative;
}

.bt_popup
{
	display: inline-block;
	padding: 0 40px 0 0 !important;
	position: relative;
}

.bt_popup .bt_green
{
	border-radius: 3px 0 0 3px;
	border-right: 1px solid #6c9616;
}

.bt_popup_arrow
{
	border-left: 1px solid #a1d33a;
	border-radius: 0 3px 3px 0;
	bottom: 0;
	padding: 0 !important;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}

.bt_popup_arrow span
{
	background: url("images/arrow_white.png") no-repeat 0 0;
	display: block;
	height: 7px;
	left: 50%;
	margin-left: -4px;
	margin-top: -3px;
	position: absolute;
	top: 50%;
	width: 9px;
}

.bt_popup_arrow:active
{
	bottom: -1px;
	box-shadow: 0 1px 0 rgba(69, 102, 9, 0.31) inset, 1px 0 2px 0 rgba(69, 102, 9, 0.31) inset;
	position: absolute !important;
	top: 1px;
}

.bt_popup .bt_green:active
{
	box-shadow: 0 1px 0 rgba(69, 102, 9, 0.31) inset, -1px 0 2px 0 rgba(69, 102, 9, 0.31) inset;
}

.bt_popup_ul_sub
{
	background: none repeat 0 0 #f8fafb;
	border: 1px solid #d4e0e2;
	border-radius: 3px;
	box-shadow: 1px 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 20px 18px 0 rgba(88, 112, 118, 0.13);
	display: none;
	margin: 130% 0 0;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 200;
}

.bt_popup_ul_sub li
{
	display: block;
	list-style: none outside none;
	white-space: nowrap;
}

.bt_popup_ul_sub li a
{
	color: #555555;
	display: block;
	font-size: 13px;
	padding: 8px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.bt_popup_ul_sub li a:hover
{
	background: none repeat 0 0 #dae4e6;
	border: 1px solid #b4bdbe;
	border-radius: 3px;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2) inset;
	padding: 7px;
}

.bt_popup_ul_sub .arrow
{
	background: url("images/top.png") no-repeat center bottom;
	height: 10px;
	position: absolute;
	right: 10px;
	top: -10px;
	width: 18px;
}

.mp_pp_graybutton
{
	background: linear-gradient(to bottom, #f9f9f9 0%, #dee9ec 100%) repeat 0 0;
	border: 1px solid;
	border-color: #eaedee #d3d5d6 #a9abac;
	border-radius: 4px;
	box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: #5b6371 !important;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	margin-right: 5px;
	padding: 7px 17px !important;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(52, 100, 119, 0.05), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.mp_pp_graybutton:hover
{
	background: linear-gradient(to bottom, #f9f9f9 0%, #eeeeee 100%) repeat 0 0;
	box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	color: #ffffff;
}

.mp_pp_graybutton:active
{
	background-color: #649f00;
	border-top: 1px solid #a9abac;
	bottom: -1px;
	box-shadow: 0 1px 0 #a9abac inset;
	color: #ffffff;
	position: relative;
}

.mp_dt_rc_header
{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 20px;
	position: relative;
}

.mp_dt_rc_price
{
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	line-height: 35px;
	margin-right: 20px;
}

.mp_dt_rc_content
{
}

.mp_dt_rc_tab_button
{
	display: block;
	margin: 20px 0;
	padding: 0;
}

.mp_dt_rc_tab_button li
{
	border-radius: 3px;
	display: inline-block;
	margin-right: 20px;
}

.mp_dt_rc_tab_button li a
{
	color: #555555;
	display: block;
	font-size: 13px;
	font-weight: bold;
}

.mp_dt_rc_tab_button li a:hover
{
	text-decoration: none;
}

.mp_dt_rc_tab_button li a .arrow
{
	display: none;
}

.mp_dt_rc_tab_button li.active
{
	background: linear-gradient(to bottom, #6ad2ef 0%, #2ba0de 100%) repeat 0 0;
	box-shadow: 0 1px 0 0 #448cb7;
	position: relative;
}

.mp_dt_rc_tab_button li.active a
{
	color: #ffffff;
	padding: 6px 18px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #167bbd;
}

.mp_dt_rc_tab_button li.active a .arrow
{
	background: url("images/bottom.png") no-repeat center bottom;
	bottom: -9px;
	display: block;
	height: 9px;
	left: 50%;
	margin-left: -9px;
	position: absolute;
	width: 18px;
}

.mp_dt_rc_tab_container
{
	color: #3a4255;
	font-size: 13px;
	line-height: 20px;
}

.mp_pp_hr
{
	border-color: #e9eced -moz-use-text-color #ffffff;
	border-left: medium none;
	border-right: medium none;
	border-style: solid none;
	border-width: 1px medium;
	margin-bottom: 20px;
}

.mp_pp_content
{
	color: #555555;
	font-size: 14px;
}

.mp_pp_ul
{
	overflow: auto;
	padding: 10px 0;
	max-width: 500px;
	max-height: 170px;
	border-top: 1px solid #EDEEF0;
}
.mp_pp_ul li {
	display: block;
	margin: 0;
	padding: 0 0 0 43px;
	background-color: transparent;
	cursor: pointer;
	transition: all 220ms linear;
	background-position: 15px 16px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2213%22%20viewBox%3D%220%200%2017%2013%22%3E%3Cpolygon%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20points%3D%225.218%2012.5%200%207.373%201.248%206.156%205.218%2010.067%2015.418%200%2016.667%201.216%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.mp_pp_ul li:hover { background-color: #f6f7f8; }

.mp_pp_ul li:last-child { border-bottom: none; }

.mp_pp_ul li dl {
	margin: 0;
	border-bottom: 1px solid #f6f7f8;
	padding: 11px 5px 11px 0;
}
.mp_pp_ul li dt {
	padding: 0;
	margin: 0 0 2px;
	color: #000;
	font: 600 14px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mp_pp_ul li dd {
	padding: 0;
	margin: 0;
	color: #828b95;
	font: 400 13px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mp_pp_ul li[bx-denied="Y"] {
	color: #d83e3e;
}
.mp_notice_cursiv
{
	font-style: italic;
}

.mp_notify_message
{
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	color: #555555;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.app-layout-modifier .ui-slider-page {
	max-width: calc(100% - 21px);
	max-height: calc(100% - 75px);
}