.app-update-avail {
	color: #555;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 20px;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #fdfaea;
	border-color: #e5e0c4 #f1edd7 #f9f6e4;
	border-image: none;
	border-radius: 2px 2px 2px 2px;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px #ede8cc inset;
	margin-bottom: 12px;
	padding: 11px 14px;
	position: relative;
}

.app-update-close {
	display: inline-block;
	position: absolute;
	height:20px;
	width: 20px;
	cursor: pointer;
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll 3px -280px transparent;
	top: 12px;
	right: 10px;
}

.app-update-close:hover {
	background: url("/bitrix/js/main/core/images/controls-sprite.png") no-repeat scroll -14px -280px transparent;
}

.app-layout-subscribe-slider-modifier.ui-page-slider-wrapper {
	height: 100% !important;
}

.app-layout-subscribe-slider-modifier .ui-slider-page,
.app-layout-subscribe-slider-modifier .ui-page-slider-workarea,
.app-layout-subscribe-slider-modifier .workarea-content-paddings {
	height: 100%;
}

.app-layout-subscribe-renew-modifier-75 .workarea-content-paddings,
.app-layout-subscribe-renew-modifier-75 .ui-page-slider-workarea {
	height: -webkit-calc(100% - 75px);
	height: calc(100% - 75px);
}

.app-layout-subscribe-renew {
	display: flex;
	background-color: #fff;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 15px 15px 20px;
	height: 100%;
	box-sizing: border-box;
}
.app-layout-subscribe-renew.app-layout-subscribe-renew-padding {
	height: -webkit-calc(100% - 40px);
	height: calc(100% - 40px);
}
/* region ICON */
.app-layout-icon {
	position: relative;
	margin: 0 auto;
	min-width: 439px;
	/*max-height: 180px;*/
}

.app-layout-subscribe-title {
	margin-bottom: 60px;
}

.app-layout-subscribe-renew-button {
	transform: translateX(-15px);
	opacity: 0;
	animation: app-layout-subscribe-renew-button-animation .5s forwards 2s;
}

.app-layout-icon-cloud {
	position: absolute;
	bottom: 16px;
	left: -20px;
	display: block;
	width: 99px;
	height: 69px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20101%2071%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M77.514%2069.964H24.122c-.457%200-.91-.017-1.358-.05C10.697%2069.637%201%2059.678%201%2047.434a22.608%2022.608%200%200%201%206.54-15.908%2022.275%2022.275%200%200%201%207.438-4.957%2023.855%2023.855%200%200%201%206.83-18.625A23.415%2023.415%200%200%201%2038.449%201c7.991.01%2015.047%204.044%2019.288%2010.2a19.057%2019.057%200%200%201%206.44-1.11c9.976.012%2018.17%207.688%2019.12%2017.503%209.559%202.104%2016.712%2010.699%2016.704%2020.975C99.99%2060.411%2090.473%2070.005%2078.74%2070c-.412%200-.82-.012-1.226-.036z%22%20stroke%3D%22%232FC6F6%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.302%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: 0;
}

.app-layout-icon-cloud.app-layout-icon-cloud-blue {
	position: absolute;
	top: 63px;
	left: 32px;
	display: block;
	width: 43px;
	height: 30px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2043%2030%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M33.233%2029.985h-23.19c-.199%200-.395-.008-.59-.022C4.212%2029.842%200%2025.512%200%2020.188a9.835%209.835%200%200%201%202.84-6.916%209.674%209.674%200%200%201%203.231-2.155%2010.377%2010.377%200%200%201%202.967-8.098A10.165%2010.165%200%200%201%2016.265%200c3.471.004%206.536%201.758%208.378%204.435a8.27%208.27%200%200%201%202.797-.483c4.333.005%207.892%203.343%208.305%207.61%204.152.915%207.259%204.652%207.255%209.12-.004%205.149-4.138%209.32-9.234%209.318-.18%200-.357-.005-.533-.015z%22%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.117%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	opacity: 0;
}

.app-layout-icon-cloud.app-layout-icon-cloud-blue.app-layout-icon-cloud-blue-right {
	position: absolute;
	top: auto;
	left: auto;
	bottom: 55px;
	right: 12px;
	width: 37px;
	height: 26px;
}

.app-layout-icon-cloud.app-layout-icon-cloud-right {
	position: absolute;
	top: 53px;
	left: auto;
	bottom: auto;
	right: 63px;
	width: 30px;
	height: 21px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2032%2023%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M24.186%2021.99H8.006c-.138%200-.275-.006-.41-.016C3.938%2021.889%201%2018.858%201%2015.132a6.896%206.896%200%200%201%201.982-4.842%206.748%206.748%200%200%201%202.254-1.508%207.276%207.276%200%200%201%202.07-5.668A7.08%207.08%200%200%201%2012.348%201c2.421.003%204.56%201.23%205.845%203.104a5.752%205.752%200%200%201%201.951-.338c3.023.004%205.506%202.34%205.794%205.328%202.897.64%205.065%203.256%205.062%206.383-.003%203.605-2.887%206.524-6.443%206.523-.124%200-.248-.004-.371-.01z%22%20stroke%3D%22%232FC6F6%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20opacity%3D%22.302%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.app-layout-icon-cloud-left-top {
	animation: app-layout-icon-cloud-left-top 3s cubic-bezier(0.215, 0.61, 0.355, 1) .4s forwards;
}

.app-layout-icon-cloud-left-bottom {
	animation: app-layout-icon-cloud-left-bottom 3s cubic-bezier(0.215, 0.61, 0.355, 1) .4s forwards;
}

.app-layout-icon-cloud-right-top {
	animation: app-layout-icon-cloud-right-top 3s cubic-bezier(0.215, 0.61, 0.355, 1) .4s forwards;
}

.app-layout-icon-cloud-right-bottom {
	animation: app-layout-icon-cloud-right-bottom 3s cubic-bezier(0.215, 0.61, 0.355, 1) .4s forwards;
}

.app-layout-icon-main {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 50px auto;
	width: 256px;
	height: 259px;
}

.app-layout-icon-refresh {
	position: absolute;
	top: 1px;
	right: 4px;
	display: inline-block;
	width: 256px;
	height: 259px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20236%20259%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill-rule%3D%22nonzero%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M129.5%20235c58.78%200%20106.43-47.457%20106.43-106%200-58.542-47.65-106-106.43-106C70.719%2023%2023.07%2070.458%2023.07%20129c0%2058.543%2047.65%20106%20106.43%20106z%22%20fill%3D%22%239CE7FF%22%20opacity%3D%22.212%22/%3E%3Cpath%20d%3D%22M64.848%2017.396c45.43-26.229%20100.182-21.68%20140.114%207.178l-2.005-11.373a2.08%202.08%200%20114.095-.722l2.876%2016.307c.045.26.04.517-.007.761.009.994-.701%201.878-1.712%202.057l-16.396%202.89a2.072%202.072%200%2011-.72-4.08l11.495-2.028C164.022.366%20111.034-4.099%2067.087%2021.274c-59.548%2034.38-79.951%20110.522-45.57%20170.07%2030.188%2052.289%2092.578%2074.394%20147.658%2055.73l2.215%203.976C114.138%20270.862%2049.055%20248%2017.638%20193.584c-35.617-61.69-14.48-140.572%2047.21-176.188z%22%20fill%3D%22%232FC6F6%22%20opacity%3D%22.276%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	animation: app-layout-icon-refresh-animation 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	opacity: 0;
}

.app-layout-icon-alert {
	position: absolute;
	top: 55px;
	right: 55px;
	display: inline-block;
	width: 56px;
	height: 56px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2056%2056%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cdefs%3E%3Cfilter%20x%3D%22-22.5%25%22%20y%3D%22-18%25%22%20width%3D%22144.9%25%22%20height%3D%22144.9%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22a%22%3E%3CfeOffset%20dy%3D%222%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22/%3E%3CfeGaussianBlur%20stdDeviation%3D%223%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22/%3E%3CfeColorMatrix%20values%3D%220%200%200%200%200.992156863%200%200%200%200%200.356862745%200%200%200%200%200.337254902%200%200%200%200.1973066%200%22%20in%3D%22shadowBlurOuter1%22/%3E%3C/filter%3E%3Cpath%20d%3D%22M22.25%2044.5C9.962%2044.5%200%2034.539%200%2022.25%200%209.962%209.961%200%2022.25%200%2034.538%200%2044.5%209.962%2044.5%2022.25c0%2012.289-9.962%2022.25-22.25%2022.25z%22%20id%3D%22b%22/%3E%3C/defs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20opacity%3D%22.973%22%20fill-rule%3D%22nonzero%22%20transform%3D%22translate%286%204%29%22%3E%3Cuse%20fill%3D%22%23000%22%20filter%3D%22url%28%23a%29%22%20xlink%3Ahref%3D%22%23b%22/%3E%3Cuse%20fill%3D%22%23FF5752%22%20xlink%3Ahref%3D%22%23b%22/%3E%3C/g%3E%3Cpath%20d%3D%22M41.461%2032.697L30.123%2013.813c-.873-1.45-2.955-1.45-3.81%200L14.975%2032.697c-.892%201.487.186%203.364%201.915%203.364h22.675c1.71%200%202.788-1.877%201.896-3.364zm-14.87-12.304a1.5%201.5%200%20011.506-1.505h.205a1.5%201.5%200%20011.505%201.505v5.632a1.5%201.5%200%2001-1.505%201.505h-.205a1.5%201.5%200%2001-1.505-1.505v-5.632zm3.514%2010.929c0%201.04-.855%201.896-1.896%201.896a1.904%201.904%200%2001-1.896-1.896c0-1.04.855-1.896%201.896-1.896%201.04%200%201.896.855%201.896%201.896z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	animation: app-layout-icon-alert-animation 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards 1.5s;
	opacity: 0;
	z-index: 3;
}

.app-layout-clock-face {
	position: absolute;
	top: 48%;
	left: 49%;
	width: 153px;
	height: 170px;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.app-layout-icon-clock {
	position: relative;
	display: inline-block;
	margin: 0 5px 14px 0;
	width: 153px;
	height: 170px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20153%20170%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M76.514%20146.238c29.422%200%2053.416-23.81%2053.416-53.008%200-29.198-23.994-53.008-53.416-53.008-29.422%200-53.416%2023.81-53.416%2053.008.008%2029.198%2024.002%2053.008%2053.416%2053.008z%22%20fill%3D%22%23FFF%22/%3E%3Cpath%20d%3D%22M64.966.617a3%203%200%2000-3%203v5.355a3%203%200%20003%203l7.249-.001v5.514a76.868%2076.868%200%2000-36.42%2011.623l-2.403-3.997%203.82-2.294a3%203%200%20001.026-4.117l-1.163-1.935a3%203%200%2000-4.117-1.027l-12.996%207.809a3%203%200%2000-1.026%204.117l1.163%201.935a3%203%200%20004.117%201.027l3.817-2.295%202.595%204.318C12.076%2046.499.046%2068.477.052%2093.23c0%2041.915%2034.506%2075.878%2076.462%2075.878%2042.238%200%2076.462-33.963%2076.462-75.878%200-40.565-32.067-73.681-72.163-75.773V11.97h7.25a3%203%200%20003-3V3.618a3%203%200%2000-3-3zm11.784%2025.7c37.14%200%2067.428%2030.056%2067.428%2066.913s-30.288%2066.913-67.428%2066.913c-37.13%200-67.418-30.056-67.428-66.913%200-36.857%2030.288-66.913%2067.428-66.913z%22%20fill%3D%22%232FC6F6%22%20fill-rule%3D%22nonzero%22/%3E%3Cpath%20d%3D%22M76.724%2033.578c32.984%200%2059.9%2026.7%2059.9%2059.652s-26.905%2059.652-60.11%2059.652c-32.984%200-60.11-26.7-60.11-59.652-.01-32.952%2027.117-59.652%2060.323-59.652h-.003zm-.028%20112.368c29.26%200%2053.122-23.68%2053.122-52.716%200-29.037-23.862-52.716-53.122-52.716s-53.12%2023.68-53.12%2052.716c.007%2029.037%2023.869%2052.716%2053.12%2052.716z%22%20fill%3D%22%230B66C3%22%20fill-rule%3D%22nonzero%22%20opacity%3D%22.807%22/%3E%3Cg%20fill%3D%22%23000%22%20fill-rule%3D%22nonzero%22%20opacity%3D%22.3%22%3E%3Cpath%20d%3D%22M75.212%20136.196V125.78a1.301%201.301%200%20112.604%200v10.416a1.301%201.301%200%2011-2.604%200zm0-74.445V51.335a1.301%201.301%200%20112.604%200v10.416a1.301%201.301%200%2011-2.604%200zm24.117-4.961l-5.264%208.987c-.361.62-1.16.829-1.78.462a1.297%201.297%200%2001-.463-1.78l5.264-8.986a1.297%201.297%200%20011.78-.463c.615.366.824%201.16.463%201.78zm14.938%2015.872l-8.987%205.264a1.306%201.306%200%2001-1.78-.462%201.306%201.306%200%2001.463-1.78l8.986-5.264a1.306%201.306%200%20011.78.462c.367.62.158%201.42-.462%201.78zm-1.313%2043.383l-8.986-5.264a1.297%201.297%200%2001-.463-1.78%201.297%201.297%200%20011.78-.463l8.987%205.264c.62.361.829%201.16.462%201.78a1.307%201.307%200%2001-1.78.463zm-15.872%2014.938l-5.264-8.987a1.306%201.306%200%2001.463-1.78%201.306%201.306%200%20011.78.463l5.264%208.986c.36.62.152%201.42-.463%201.78a1.297%201.297%200%2001-1.78-.462zm-43.383-1.312l5.264-8.987a1.297%201.297%200%20011.78-.463c.62.361.83%201.16.463%201.78l-5.264%208.987c-.36.62-1.16.829-1.78.463a1.307%201.307%200%2001-.463-1.78zm-14.937-15.873l8.986-5.264a1.306%201.306%200%20011.78.463c.362.62.153%201.419-.462%201.78l-8.987%205.264a1.306%201.306%200%2001-1.78-.463%201.297%201.297%200%2001.463-1.78zm1.312-43.382l8.987%205.263c.62.362.829%201.16.462%201.78-.36.621-1.16.83-1.78.463l-8.986-5.264a1.297%201.297%200%2001-.463-1.78%201.307%201.307%200%20011.78-.462zm15.872-14.938l5.264%208.986c.361.621.153%201.42-.462%201.78a1.306%201.306%200%2001-1.78-.462l-5.265-8.987a1.306%201.306%200%2001.463-1.78%201.297%201.297%200%20011.78.463zm51.816%2037.752c0-.717.585-1.302%201.302-1.302h10.416c.717%200%201.302.585%201.302%201.302%200%20.717-.585%201.302-1.302%201.302h-10.416a1.305%201.305%200%2001-1.302-1.302zm-75.516%200c0-.717.585-1.302%201.302-1.302h10.416c.717%200%201.302.585%201.302%201.302%200%20.717-.585%201.302-1.302%201.302H33.548a1.305%201.305%200%2001-1.302-1.302z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	animation: app-layout-icon-clock-animation .5s forwards;
	opacity: 0;
}

.app-layout-clock-face-line-dark,
.app-layout-clock-face-line-light {
	position: absolute;
	top: 5%;
	right: 0;
	bottom: 0;
	left: 0;
}

.app-layout-clock-face-line-dark {
	display: block;
	margin: 0 auto;
	width: 6px;
	height: 100%;
	animation: app-layout-clock-face-line-dark-animation 5s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	transform: rotate(-30deg);
}

.app-layout-clock-face-line-dark:before {
	content: '';
	position: absolute;
	top: 58px;
	left: 0;
	width: 6px;
	height: 23px;
	border-radius: 10px 10px 0 0;
	background-color: #525c69;
}

.app-layout-clock-face-line-light {
	display: block;
	margin: 0 auto;
	width: 6px;
	height: 100%;
	animation: app-layout-clock-face-line-light-animation 3s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	transform: rotate(60deg);
}

.app-layout-clock-face-line-light:before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 6px;
	height: 46px;
	border-radius: 10px 10px 0 0;
	background-color: rgba(82,92,105,.2);
}

.app-layout-clock-face-circle {
	position: absolute;
	top: 55%;
	left: 50%;
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #9dcf00;
	animation: app-layout-clock-face-circle-animation .5s forwards;
	transform: translate(-50%,-50%);
	opacity: 0;
}

@keyframes app-layout-clock-face-line-dark-animation {
	0% {
		transform: rotate(-30deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes app-layout-clock-face-line-light-animation {
	0% {
		transform: rotate(60deg);
	}
	100% {
		transform: rotate(407deg);
	}
}

@keyframes app-layout-icon-refresh-animation {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(350deg);
	}
}

@keyframes app-layout-clock-face-circle-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes app-layout-icon-clock-animation {
	0% {
		transform: scale(1.2);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes app-layout-icon-alert-animation {
	0% {
		transform: scale3d(0.96,0.96,1);
		opacity: 1;
	}
	20% {
		transform: scale3d(1.1,1.1,1);
		opacity: 1;
	}
	40% {
		transform: scale3d(0.98,0.98,1);
		opacity: 1;
	}
	60% {
		transform: scale3d(1.05,1.05,1);
		opacity: 1;
	}
	80% {
		transform: scale3d(1.01,1.01,1);
		opacity: 1;
	}
	100% {
		transform: scale3d(1,1,1);
		opacity: 1;
	}
}

@keyframes app-layout-icon-cloud-left-top {
	0% {
		left: 59px;
		opacity: 0;
	}
	100% {
		left: 32px;
		opacity: 1;
	}
}

@keyframes app-layout-icon-cloud-left-bottom {
	0% {
		left: -50px;
		opacity: 0;
	}
	100% {
		left: -20px;
		opacity: 1;
	}
}

@keyframes app-layout-icon-cloud-right-top {
	0% {
		right: 78px;
		opacity: 0;
	}
	100% {
		right: 63px;
		opacity: 1;
	}
}

@keyframes app-layout-icon-cloud-right-bottom {
	0% {
		right: 0;
		opacity: 0;
	}
	100% {
		right: 12px;
		opacity: 1;
	}
}

@keyframes app-layout-subscribe-renew-button-animation {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
/* endregion */

.app-layout-error-block
{
	flex: 1;
	margin: 0;
	font-family: "OpenSans-Light", Helvetica, Arial, sans-serif;
	color: #525c69;
	text-align: center;
}
.app-layout-error-block .app-layout-icon-circle {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 256px;
	height: 259px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%20247%20246%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M123.5%20246C55.293%20246%200%20190.932%200%20123%200%2055.069%2055.292%200%20123.5%200%20191.707%200%20247%2055.069%20247%20123c0%2067.932-55.293%20123-123.5%20123zm0-43c44.459%200%2080.5-35.817%2080.5-80s-36.041-80-80.5-80C79.04%2043%2043%2078.817%2043%20123s36.041%2080%2080.5%2080z%22%20fill%3D%22%23F9E900%22%20fill-rule%3D%22nonzero%22%20opacity%3D%22.212%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	animation: app-layout-error-icon-circle-animation .5s forwards .4s;
	opacity: 0;
}
.app-layout-error-block .app-layout-icon-refresh {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: 256px;
	height: 259px;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22191%22%20height%3D%22206%22%20viewBox%3D%220%200%20191%20206%22%3E%3Cpath%20fill%3D%22%23FFA900%22%20d%3D%22M190.573518%2C142.048639%20C190.576633%2C142.108073%20190.577564%2C142.167115%20190.576382%2C142.225689%20C175.147882%2C179.654758%20138.305158%2C206%2095.3084304%2C206%20C52.2733455%2C206%2015.4027889%2C179.607732%20-0.000599829788%2C142.126184%20C0.0166317206%2C141.546914%200.240767385%2C140.972431%200.674579493%2C140.523205%20C1.5979711%2C139.567005%203.12168116%2C139.540408%204.07788116%2C140.4638%20C4.14859625%2C140.532089%204.21422711%2C140.603661%204.27476551%2C140.678044%20L3.87245446%2C139.700868%20C18.4254734%2C175.924263%2053.8800389%2C201.5%2095.3084128%2C201.5%20C136.412698%2C201.5%20171.635834%2C176.32285%20186.398347%2C140.54902%20C186.807809%2C140.099044%20187.388365%2C139.805399%20188.043987%2C139.771039%20C189.37144%2C139.70147%20190.503949%2C140.721187%20190.573518%2C142.048639%20Z%20M95.3084304%2C-4.54747351e-13%20C137.564906%2C-4.54747351e-13%20173.878174%2C25.4461826%20189.760299%2C61.8519318%20C189.8414%2C62.4350688%20189.711504%2C63.048865%20189.34747%2C63.568759%20C188.585029%2C64.6576368%20187.084239%2C64.9222666%20185.995362%2C64.1598261%20L185.882947%2C64.0762225%20L185.779688%2C63.989%20L185.630385%2C63.6419645%20C170.440379%2C28.8308689%20135.715753%2C4.5%2095.3084128%2C4.5%20C55.0119586%2C4.5%2020.3673355%2C28.6968296%205.11182676%2C63.354144%20C4.6727679%2C63.9098093%203.99213463%2C64.2655082%203.22842343%2C64.2655082%20C1.95231998%2C64.2655082%200.908169049%2C63.2724014%200.82667874%2C62.0168959%20L0.822688381%2C61.926%20L1.30384715%2C60.8397912%20C17.4133936%2C24.9754208%2053.4440658%2C-4.82194835e-13%2095.3084304%2C-4.54747351e-13%20Z%22%20opacity%3D%22.253%22/%3E%3C/svg%3E') center no-repeat;
	animation: app-layout-error-icon-refresh-animation 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	opacity: 0;
}
.app-layout-error-block .app-layout-icon-alert
{
	width: 106px;
	height: 106px;
	top: 128px;
	left: 128px;
	margin: -53px auto auto -53px;
	border-radius: 100%;
	animation: app-layout-error-icon-circle-animation .5s forwards .4s;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.07);
	background: rgba(255,87,82,87) url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2254%22%20height%3D%2246%22%20viewBox%3D%220%200%2054%2046%22%3E%3Cpath%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%20d%3D%22M53.3616842%2C39.3683791%20L30.792144%2C2.14336918%20C29.0531794%2C-0.714456392%2024.9092638%2C-0.714456392%2023.2072985%2C2.14336918%20L0.637758291%2C39.3683791%20C-1.13820553%2C42.2994823%201.00775075%2C46%204.44868066%2C46%20L49.5877611%2C46%20C52.9916918%2C46%2055.1376481%2C42.2994823%2053.3616842%2C39.3683791%20Z%20M24%2C14.9612903%20C24%2C13.316129%2025.2485549%2C12%2026.8092486%2C12%20L27.1907514%2C12%20C28.7514451%2C12%2030%2C13.316129%2030%2C14.9612903%20L30%2C26.0387097%20C30%2C27.683871%2028.7514451%2C29%2027.1907514%2C29%20L26.8092486%2C29%20C25.2485549%2C29%2024%2C27.683871%2024%2C26.0387097%20L24%2C14.9612903%20Z%20M31%2C36.5%20C31%2C38.4215686%2029.1960784%2C40%2027%2C40%20C24.8039216%2C40%2023%2C38.4215686%2023%2C36.5%20L23%2C36.5%20C23%2C34.5784314%2024.8039216%2C33%2027%2C33%20C29.1960784%2C33%2031%2C34.5784314%2031%2C36.5%20L31%2C36.5%20Z%22/%3E%3C/svg%3E') center 27px no-repeat;
}
@keyframes app-layout-error-icon-refresh-animation {
	0% {
		opacity: 0;
		transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		transform: rotate(180deg);
	}
}
@keyframes app-layout-error-icon-circle-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.app-layout-subscribe-slider-modifier .ui-slider-page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-ms-ui-flex-align: stretch;
	align-items: stretch;
}
.app-layout-subscribe-slider-modifier #workarea-content {
	width: 100%;
	overflow: auto;
}

.ui-page-slider-wrapper {
	overflow: auto;
}

body:not(.app-layout-subscribe-slider-modifier) .app-frame-layout-default .app-frame {
	min-height: 600px;
}