.log-filter-title {
    margin-bottom: 0!important;
    padding-bottom: 10px!important;
    position: relative;
    font: 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    border-bottom: 1px solid #c6cdd3;
}
.log-filter-form {
    padding-top: 10px;
}
.log-filter-field {
    padding-bottom: 8px;
    margin: 0;
}
.log-filter-field label.log-filter-field-title {
    display: block;
    margin: 0 0 6px;
    padding: 0 !important;
    font: 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}
.bx-slf-popup-title{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    height:30px;
    margin-bottom:10px;
    vertical-align:top;
    color:#7f858d;
}
.bx-slf-popup-cont-title{
    font-weight: bold;
}
.bx-slf-popup-content{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:14px;
    min-width:500px;
    padding:20px;
    color:#000;
    border-radius:2px;
    background-color:#edf1f3;
}
.bx-slf-popup-descript{
    font-size: 14px;
    margin-top: 23px;
    text-align: center;
}
.bx-slf-popup-descript-img{
    border: none;
    display: block;
    margin-top: 19px;
    margin: 19px auto 0;
}

.log-filter-field .feed-add-post-destination-wrap
{
    height: 28px;
    border: 1px solid #c6cdd3;
    padding: 4px!important;
}
.log-filter-field .feed-add-post-destination-wrap.feed-add-post-destination-filter {
    min-height: 28px!important;
}
.feed-add-post-destination-filter .feed-add-post-destination {
    height: 28px;
    line-height: 28px;
    min-width: 100px;
    padding-right: 25px;
}
.log-filter-field .feed-add-destination-inp {
    min-width: 200px!important;
    margin: 0;
    height: 28px;
    line-height: 28px;
}
.feed-add-post-destination-filter .feed-add-post-del-but
{
    background-position: -94px -62px;
}

.log-filter-field-inp-container{
    position: relative;
    display: block;
    height: 36px;
    line-height: 36px;
    background: #fff;
    border: 1px solid #c6cdd3;
    font-size: 15px;
    vertical-align: middle;
    border-radius: 2px;
}
.log-filter-field-inp-container.log-filter-field-inp-date{
    width: 120px;
    display: inline-block;
}

.log-filter-field-inp {
    position: absolute;
    line-height: 36px;
    font-size: 15px;
    border: none;
    top: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 0 8px;
    background: transparent;
    z-index: 2;
    outline: none;
    color: #535c69;
    height: 36px;
}

.log-filter-field-inp-date .log-filter-field-inp {
    padding-right: 32px;
}

.log-filter-field-inp-date:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 15px;
    background: url('/bitrix/components/bitrix/socialnetwork.log.filter/templates/.default/images/media.png') no-repeat 0 -269px;
    right: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    opacity: 0.7;
}

select.log-filter-field-inp {
    padding: 0 4px;
}

.log-filter-date-interval-hellip {
    font-size: 22px;
    line-height: 22px;
    color: #c6cdd3;
    padding: 0 5px 0 5px;
    vertical-align: middle;
}

.log-filter-field-title.log-filter-field-title-checkbox
{
    display: inline-block!important;
}

.log-filter-field-date-combobox {
}
.log-filter-field-date-combobox .log-filter-date-interval {
    display: none;
}
.log-filter-field-date-combobox span.log-filter-date-interval-hellip {
    display: none;
}
.log-filter-field-date-combobox .log-filter-date-interval-after {
    display: inline;
}
.log-filter-field-date-combobox .log-filter-date-interval-before {
    display: inline;
}
.log-filter-field-date-combobox .log-filter-date-interval-after.log-filter-date-interval-before {
    display: block;
    margin-top: 0.5em;
}
.log-filter-field-date-combobox .log-filter-date-interval-after.log-filter-date-interval-before span.log-filter-date-interval-hellip {
    display: inline-block;
}
.log-filter-field-date-combobox .log-filter-date-interval-to {
    display: none;
}
.log-filter-field-date-combobox .log-filter-date-interval-from {
    display: none;
}
.log-filter-field-date-combobox .log-filter-date-interval-after .log-filter-date-interval-to {
    display: inline;
}
.log-filter-field-date-combobox .log-filter-date-interval-before .log-filter-date-interval-from {
    display: inline;
}
.log-filter-field-date-combobox-days select.filter-dropdown, .log-filter-field-date-combobox-after select.filter-dropdown, .log-filter-field-date-combobox-before select.filter-dropdown {
    width: 120px;
}
.log-filter-field input.filter-checkbox {
    vertical-align: middle;
}
.log-filter-field input.log-filter-date-days,
.log-filter-field-date-combobox input.log-filter-date-days {
    width: 55px;
    position: static!important;
}

.log-filter-field input,
.log-filter-field select {
    font: 13px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

.feed-filter-btn-wrap {float: right;}
.feed-filter-btn {
	border: 1px solid;
	border-color: #e0e2e0 #dde0dd #d4d7d4;
	border-radius: 4px;
	background: #e9eae9;
	background:-webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #eeeeee 51%, #ececec 100%);
	background:-moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #eeeeee 51%, #ececec 100%);
	background:-ms-linear-gradient(top, #f9f9f9 0%, #f5f5f5 50%, #eeeeee 51%, #ececec 100%);
	background:linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 50%, #eeeeee 51%, #ececec 100%);
	-webkit-box-shadow: 0 1px 0 #f2f2f2, 0 2px 0 #fafafa;
	-moz-box-shadow: 0 1px 0 #f2f2f2, 0 2px 0 #fafafa;
	box-shadow: 0 1px 0 #f2f2f2, 0 2px 0 #fafafa;
	display: inline-block;
	color: #515151;
	cursor: pointer;
	height: 22px;
	font-size: 12px;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 105px;
	padding: 1px 19px 0 9px;
	position: relative;
	line-height: 22px;
}

.feed-filter-btn:hover {
	background: #f7f7f7;
	background:-webkit-linear-gradient(top, #fcfcfc 0%, #f9f9f9 50%, #f5f5f5 51%, #f4f4f4 100%);
	background:-moz-linear-gradient(top, #fcfcfc 0%, #f9f9f9 50%, #f5f5f5 51%, #f4f4f4 100%);
	background:-ms-linear-gradient(top, #fcfcfc 0%, #f9f9f9 50%, #f5f5f5 51%, #f4f4f4 100%);
	background:linear-gradient(to bottom, #fcfcfc 0%, #f9f9f9 50%, #f5f5f5 51%, #f4f4f4 100%);
}

.feed-filter-btn i {
	display: inline-block;
	font-size: 10px;
	line-height: 13px;
	margin-left: 2px;
	vertical-align: top;
}

.feed-filter-btn:before {
	background: url("images/sprite-subscr.png") no-repeat center -211px;
	content: "";
	height: 5px;
	position: absolute;
	right: 7px;
	top: 10px;
	width: 7px;
}

.lenta-sort-item .menu-popup-item-icon {
    background: url("images/sprite-subscr.png") no-repeat 100px;
    width: 10px;
}

.lenta-sort-item-selected .menu-popup-item-icon {
    background-position: center -221px;
}

.sonet-log-filter-popup-window .popup-window-content { padding: 7px; }

.feed-smart-follow-hint-wrap {
	max-height: 200px;
	overflow: hidden;
	-webkit-transition: max-height .3s;
	-moz-transition: max-height .3s;
}
.feed-smart-follow-hint {
	position: relative;
	padding: 10px 24px 10px 14px;
	background-color: #fffad1;
	border-bottom: 3px solid transparent;
	color: #525C69;
	font: 13px/17px 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.feed-smart-follow-hint-wrap.feed-smart-follow-hint-hidden {
	max-height: 0;
	-webkit-transition: max-height .3s linear;
	transition: max-height .3s linear;
}

.template-bitrix24 .feed-smart-follow-hint {
	border-bottom: 3px solid #eef2f4;
}
.sonet-log-filter-block {
	display: none;
	padding: 0 5px 5px;
}
.sonet-log-filter-checkbox {
	display: inline;
	padding-right: 30px;
}
.sonet-log-filter-submit {
	padding-top: 10px;
	text-align: center;
}

#feed_filter_button.ui-btn {
	margin-left: 12px;
}

.profile-menu-group + .pagetitle-wrap > .pagetitle-inner-container {
	padding-right: 0;
}
