.content {
	border-radius: 5px!important;
}
.content-wrap {
	width: 90%!important;
	max-width: 1024px!important;
}
.footer-logo { display: none; }
.main-wrapper-content-cell { vertical-align: inherit!important; }slac