.ui-form {
	color: #5e6675;
	font-size: 14px;
}

.ui-input {
	box-sizing: border-box;
	border: none;
	border-radius: 2px;
	box-shadow: inset 0 0 0 1px #c6cdd3;
	color: #5e6675;
	font-size: 14px;
	height: 39px;
	line-height: 39px;
	padding: 0 10px;
}

.ui-radio {
	margin: 0;
	padding: 0;
}

.ui-input,
.ui-select,
.ui-textarea {
	color: #7c7c7c;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-textarea {
	border: none;
	box-shadow: inset 0 0 0 1px #c6cdd3;
	border-radius: 2px;
	box-sizing: border-box;
	outline: none;
	padding: 9px 11px;
}

.ui-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #bdc7d2;
}

.ui-input::-moz-placeholder { /* Firefox 19+ */
	color: #bdc7d2;
}

.ui-input:-ms-input-placeholder { /* IE 10+ */
	color: #bdc7d2;
}

.ui-input:-moz-placeholder { /* Firefox 18- */
	color: #bdc7d2;
}

.ui-textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #bdc7d2;
}

.ui-textarea::-moz-placeholder { /* Firefox 19+ */
	color: #bdc7d2;
}

.ui-textarea:-ms-input-placeholder { /* IE 10+ */
	color: #bdc7d2;
}

.ui-textarea:-moz-placeholder { /* Firefox 18- */
	color: #bdc7d2;
}

.ui-form-inner {
	box-sizing: border-box;
	width: 100%;
}

.ui-form-table {
	border-collapse: collapse;
	width: 100%;
}

.ui-form-gray-padding .ui-form-inner {
	background-color: #f8f9fa;
}

.ui-form-label {
	color: #525c69;
	width: 145px;
	min-width: 145px;
	overflow: hidden;
	vertical-align: middle;
	padding: 0 25px 0 27px;
	position: relative;
}

.ui-form-label:before, .ui-form-right-cell:before {
	content: "";
	position: absolute;
	top: 0;
	left: 27px;
	right: 0;
	width: 100%;
	height: 1px;
	background: #e6e9ec;
}

.ui-form-label-align-top {
	vertical-align: top;
	padding-top: 31px;
}

.ui-form-right-cell {
	height: 39px;
	vertical-align: top;
	padding: 20px 27px 20px 0;
	position: relative;
}

.ui-form-right-cell:before {
	left: 0;
	width: 96.5%;
}

.ui-form-table tr:first-child .ui-form-label:before,
.ui-form-table tr:first-child .ui-form-right-cell:before {
	content: none;
}

.ui-form-field-wrap-align-m {
	vertical-align: middle;
}

.ui-form-gray-padding {
	background-color: #ffffff;
	padding: 11px 15px 60px;
}

.ui-select {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212px%22%20height%3D%228px%22%20viewBox%3D%220%200%2012%208%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M3.65685425%2C3.65685425%20L3.65685425%2C-2.34314575%20L1.65685425%2C-2.34314575%20L1.65685425%2C4.65685425%20L1.65685425%2C5.65685425%20L9.65685425%2C5.65685425%20L9.65685425%2C3.65685425%20L3.65685425%2C3.65685425%20Z%22%20id%3D%22Path%22%20fill%3D%22%23535C69%22%20transform%3D%22translate%285.656854%2C%201.656854%29%20rotate%28-45.000000%29%20translate%28-5.656854%2C%20-1.656854%29%20%22%3E%3C/path%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: right 14px center;
	background-color: #ffffff;
	border: none;
	box-shadow: inset 0 0 0 1px #C6CDD3;
	border-radius: 0;
	height: 39px;
	outline: none;
	padding: 0 32px 0 11px;

	-o-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.ui-select::-ms-expand {
	display: none;
}

.ui-form-select-100 {
	 width: 100%;
 }

.ui-form-title-block {
	padding: 0 0 10px;
}

.ui-editable-field {
	display: inline-block;
	height: 42px;
	position: relative;
	padding-right: 24px;
}

.ui-editable-field-textar-wrap {
	height: auto;
}

.ui-editable-field-input,
.ui-editable-field-textarea {
	display: none;
	font-size: 19px;
	font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 42px;
	padding: 0 0 0 11px;
	animation: uiShowTitleInput 0.2s linear;
}

.ui-editable-field-textarea {
	height: auto;
}

@keyframes uiShowTitleInput {
	0% { box-shadow: inset 0 0 0 1px rgba(198,205,211,.0);}
	100% { box-shadow: inset 0 0 0 1px rgba(198,205,211, 1);}
}

.ui-editable-field-label {
	color: #7c7c7c;
	display: inline-block;
	font-size: 19px;
	font-family: 'OpenSans-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 42px;
	line-height: 42px;
	padding-left: 11px;
	margin: 0;
}

.ui-editable-field-textar-wrap .ui-editable-field-label {
	height: auto;
}

.ui-title-input-btn {
	cursor: pointer;
	height: 20px;
	position: absolute;
	right: 0;
	top: 13px;
	width: 20px;
}

.ui-editable-field-textar .ui-title-input-btn {
	top: 1px;
}

.ui-title-input-btn:before {
	background-size: 11px;
	background-position: center 4px;
	content: '';
	display: block;
	height: 100%;
	opacity: .5;
	width: 100%;
}

.ui-title-input-btn:hover:before {
	opacity: 0.8;
}

.ui-form-explication {
	display: inline-block;
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22Symbols%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Shape%22%20fill-rule%3D%22nonzero%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M16%2C8.00019349%20C16%2C3.58148309%2012.41827%2C0%208.00012899%2C0%20C3.58176226%2C-4.61938409e-16%200%2C3.58148309%200%2C8.00019349%20C0%2C12.4182267%203.58176226%2C16%208.00012899%2C16%20C12.41827%2C16%2016%2C12.4182267%2016%2C8.00019349%20Z%22%20fill%3D%22%238D9BAF%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.90149218%2C5.8947576%20C4.90149218%2C5.50402448%205.02692552%2C5.10809656%205.27784835%2C4.70705807%20C5.52868694%2C4.30601959%205.89485007%2C3.97388942%206.37608502%2C3.71061139%20C6.85734804%2C3.4474176%207.41880753%2C3.3157505%208.06046349%2C3.3157505%20C8.65682641%2C3.3157505%209.18338247%2C3.42585216%209.63996318%2C3.64583084%20C10.0965439%2C3.86592184%2010.4491725%2C4.16517034%2010.6981016%2C4.54354826%20C10.9469184%2C4.92203851%2011.071369%2C5.33329811%2011.071369%2C5.77752363%20C11.071369%2C6.12717572%2011.0004108%2C6.43366886%2010.8584945%2C6.69683457%20C10.7165783%2C6.9601126%2010.5478736%2C7.18736399%2010.3525492%2C7.37858876%20C10.1571405%2C7.56986968%209.80650563%2C7.89175066%209.30058837%2C8.34420361%20C9.16072192%2C8.47174294%209.04857042%2C8.58386636%208.96433043%2C8.68048962%20C8.87997813%2C8.77716904%208.81721934%2C8.86559295%208.77613831%2C8.94576133%20C8.73497304%2C9.02598588%208.70304608%2C9.10618234%208.68049785%2C9.18640688%20C8.65783729%2C9.26657527%208.62391666%2C9.40753684%208.57870787%2C9.60903888%20C8.50053316%2C10.0368657%208.25575985%2C10.2507229%207.84450025%2C10.2507229%20C7.63058685%2C10.2507229%207.45059409%2C10.1808318%207.30463428%2C10.0409373%20C7.15859022%2C9.90112699%207.08561032%2C9.69339119%207.08561032%2C9.41778604%20C7.08561032%2C9.07226171%207.13901847%2C8.7730132%207.24603133%2C8.52006861%20C7.35295995%2C8.26706786%207.49484816%2C8.04495511%207.67175212%2C7.85373034%20C7.84854377%2C7.66244942%208.08716756%2C7.4352261%208.38745503%2C7.17194808%20C8.65064881%2C6.94163596%208.84094694%2C6.76782079%208.95818092%2C6.65058682%20C9.07541489%2C6.53335284%209.17411607%2C6.40283702%209.25434062%2C6.25878665%20C9.33453708%2C6.1148486%209.37466339%2C5.95858343%209.37466339%2C5.78987882%20C9.37466339%2C5.46083745%209.25223462%2C5.18321054%209.00754555%2C4.95694194%20C8.76277223%2C4.73078567%208.44704077%2C4.61759521%208.06046349%2C4.61759521%20C7.6079263%2C4.61759521%207.27475716%2C4.73174039%207.060928%2C4.96003074%20C6.8470146%2C5.1883211%206.66606712%2C5.52457903%206.51797323%2C5.96880455%20C6.37810678%2C6.43366886%206.11277891%2C6.66600273%205.72204578%2C6.66600273%20C5.49162135%2C6.66600273%205.29727971%2C6.58482347%205.13899278%2C6.42229646%20C4.98064969%2C6.25982561%204.90149218%2C6.08398869%204.90149218%2C5.8947576%20Z%20M7.91239768%2C12.6569819%20C7.66144677%2C12.6569819%207.44242281%2C12.5756903%207.25529773%2C12.4132475%20C7.0680884%2C12.2508329%206.97455394%2C12.0235815%206.97455394%2C11.7314934%20C6.97455394%2C11.4723431%207.06497152%2C11.2543862%207.24603133%2C11.0774822%20C7.42697881%2C10.9006625%207.64909157%2C10.8121824%207.9123696%2C10.8121824%20C8.17151987%2C10.8121824%208.38947679%2C10.9006625%208.56638075%2C11.0774822%20C8.7431724%2C11.2543862%208.83168054%2C11.4723431%208.83168054%2C11.7314934%20C8.83168054%2C12.0194537%208.73912888%2C12.2456942%208.55402555%2C12.4101868%20C8.36892223%2C12.5746794%208.15506499%2C12.6569819%207.91239768%2C12.6569819%20Z%22%20fill%3D%22%23FFFFFF%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: 1px 0;
	content: '';
	cursor: pointer;
	height: 16px;
	opacity: .5;
	right: 0;
	top: 0;
	width: 17px;
	transition: opacity 0.15s linear;
	vertical-align: middle;
}

.ui-form-explication:hover {
	opacity: .9;
}

.ui-form-dashed-link {
	border-bottom: 1px dashed;
	display: inline-block;
	color: #828b95;
	margin-right: 17px;
	vertical-align: middle;
}

.ui-checkbox-block {
	display: inline-block;
	vertical-align: middle;
}

.ui-checkbox {
	display: inline-block;
	margin: 0 11px 0 0;
	vertical-align: middle;
}

.ui-checkbox-label {
	display: inline-block;
	vertical-align: middle;
}

.ui-form-collapse {
	border: none;
	padding: 0;
}

.ui-form-collapse-block {
	background-color: #ffffff;
	cursor: pointer;
	min-height: 71px;
	position: relative;
	display: flex;
}

.ui-form-gray-padding .ui-form-collapse-block {
	padding: 25px 27px 0 42px;
	box-sizing: border-box;
}

.ui-form-collapse-block:before {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212px%22%20height%3D%228px%22%20viewBox%3D%220%200%2012%208%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M3.82842712%2C3.48528137%20L3.82842712%2C-2.34314575%20L1.82842712%2C-2.34314575%20L1.82842712%2C3.48528137%20L1.65685425%2C3.48528137%20L1.65685425%2C5.48528137%20L1.82842712%2C5.48528137%20L1.82842712%2C5.65685425%20L3.82842712%2C5.65685425%20L3.82842712%2C5.48528137%20L9.65685425%2C5.48528137%20L9.65685425%2C3.48528137%20L3.82842712%2C3.48528137%20Z%22%20id%3D%22Path-Copy-3%22%20fill%3D%22%238A9098%22%20transform%3D%22translate%285.656854%2C%201.656854%29%20rotate%28-45.000000%29%20translate%28-5.656854%2C%20-1.656854%29%20%22%3E%3C/path%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: 0 0;
	content: '';
	height: 8px;
	left: 15px;
	opacity: .7;
	position: absolute;
	top: 30px;
	width: 12px;
}

.ui-form-collapse-block:hover:before {
	opacity: 1;
}

.ui-form-collapse-label {
	color: #535c69;
	font-weight: bold;
	margin-right: 2px;
}

.ui-checkbox-hidden-input {
	padding-left: 27px;
	position: relative;
}

.ui-checkbox-hidden-input-inner {
	box-sizing: border-box;
	height: 39px;
	overflow: hidden;
	padding-top: 11px;
	transition: height 0.2s linear;
}

.ui-checkbox-hidden-input .ui-checkbox {
	left: 0;
	position: absolute;
	top: 13px;
}

.ui-checkbox-hidden-input .ui-checkbox-label {
	margin-bottom: 12px;
}

.ui-checkbox-hidden-input .ui-input,
.ui-checkbox-hidden-input .ui-select {
	display: block;
}

.ui-checkbox-hidden-input .ui-checkbox:checked  + .ui-checkbox-hidden-input-inner {
	height: 115px;
}

.ui-form-right-cell-metrika .ui-checkbox-hidden-input:first-child .ui-checkbox:checked + .ui-checkbox-hidden-input-inner {
	height: 154px;
}

.ui-form-right-cell-metrika .ui-checkbox-hidden-input:first-child .ui-checkbox:checked + .ui-checkbox-hidden-input-inner-gacounter {
	height: 203px;
}

.ui-form-right-cell-metrika .ui-checkbox-hidden-input-inner .ui-checkbox {
	position: static;
	margin-right: 6px;
}

.ui-form-right-cell-metrika .ui-checkbox-hidden-input-inner .ui-input {
	margin-bottom: 9px;
}

.ui-checkbox-hidden-input-hook:last-child, .ui-checkbox-hidden-input-hook-help {
	margin-top: 5px;
}

.ui-form-right-cell-pixel .ui-checkbox-hidden-input:first-child .ui-checkbox:checked + .ui-checkbox-hidden-input-inner {
	height: 111px;
}

.ui-form-right-cell-pixel .ui-input {
	margin-bottom: 4px;
}

.ui-form-right-cell-map .ui-input {
	margin-bottom: 5px;
}

.ui-control-wrap {
	margin-bottom: 21px;
}

.ui-form-control-label {
	color: #80868e;
	font-size: 14px;
	margin-bottom: 9px;
}

.ui-form-control-label-title {
	font-size: 14px;
}

.ui-colorpicker {
	position: relative;
	width: 179px;
}

.ui-input-color {
	padding-left: 45px;
}

.ui-colorpicker-color {
	border: 1px solid #EAEAEA;
	border-radius: 2px;
	display: none;
	height: 24px;
	left: 7px;
	position: absolute;
	top: 7px;
	width: 24px;
}

.ui-colorpicker-selected .ui-colorpicker-color,
.ui-colorpicker-selected .ui-colorpicker-clear {
	display: block;
}

.ui-colorpicker-clear {
	cursor: pointer;
	display: none;
	height: 39px;
	position: absolute;
	right: 0;
	top: 0;
	width: 30px;
}

.ui-colorpicker-clear:before,
.ui-colorpicker-clear:after {
	background-color: #535C69;
	border-radius: 2px;
	content: '';
	height: 14px;
	opacity: .5;
	position: absolute;
	top: 13px;
	left: 14px;
	width: 2px;
	transition: opacity 0.15s linear;
}

.ui-colorpicker-clear:before {
	transform: rotate(-45deg);
}

.ui-colorpicker-clear:after {
	transform: rotate(45deg);
}

.ui-colorpicker-clear:hover:before,
.ui-colorpicker-clear:hover:after {
	opacity: 0.8;
}

.ui-form-field-description {
	color: #80868e;
	font-size: 13px;
	margin: 0 0 15px;
}

.landing-form-page-layout {
	padding-left: 0;
}

.landing-form-page-layout .landing-form-wrapper {
	max-width: 660px;
	position: relative;
}

.landing-form-page-favicon {
	width: 15%;
}

.landing-form-page-favicon .landing-ui-field-image-preview {
	height: 100px;
}

.landing-form-page-favicon .landing-ui-field-image-preview {
	height: 100px;
}

.landing-form-page-favicon .landing-ui-field-image-dropzone {
	height: 100px;
}

.landing-form-list {
	display: flex;
	padding-bottom: 22px;
	position: relative;
	border-bottom: 1px solid #d7dadd;
	margin-bottom: 27px;
	overflow: hidden;
}

.landing-form-layout-item {
	display: block;
	margin-right: 8px;
	padding: 5px;
	cursor: pointer;
	border: 3px solid transparent;
	box-sizing: border-box;
}

.landing-form-layout-item:last-child {
	margin-right: 0;
}

.landing-form-layout-item-img {
	width: 100px;
	height: 124px;
	background-repeat: no-repeat;
}

.landing-form-layout-item-empty .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-1.svg);
}

.landing-form-layout-item-sidebar_right .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-2.svg);
}

.landing-form-layout-item-sidebar_left .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-3.svg);
}

.landing-form-layout-item-header_footer .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-4.svg);
}

.landing-form-layout-item-header_only .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-4-1.svg);
}

.landing-form-layout-item-without_left .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-5.svg);
}

.landing-form-layout-item-without_right .landing-form-layout-item-img {
	background-image: url(/bitrix/images/landing/templates/layout-6.svg);
}

.layout-switcher {
	display: none;
}

#layout-radio-1:checked ~ .landing-form-list label[for="layout-radio-1"],
#layout-radio-2:checked ~ .landing-form-list label[for="layout-radio-2"],
#layout-radio-3:checked ~ .landing-form-list label[for="layout-radio-3"],
#layout-radio-4:checked ~ .landing-form-list label[for="layout-radio-4"],
#layout-radio-5:checked ~ .landing-form-list label[for="layout-radio-5"],
#layout-radio-6:checked ~ .landing-form-list label[for="layout-radio-6"],
#layout-radio-7:checked ~ .landing-form-list label[for="layout-radio-7"],
.landing-form-layout-item-selected {
	border-color: #2fc6f6;
	border-radius: 7px;
	position: relative;
}

#layout-radio-1:checked ~ .landing-form-list .landing-form-layout-item-empty:after,
#layout-radio-2:checked ~ .landing-form-list .landing-form-layout-item-sidebar_left:after,
#layout-radio-3:checked ~ .landing-form-list .landing-form-layout-item-sidebar_right:after,
#layout-radio-4:checked ~ .landing-form-list .landing-form-layout-item-header_only:after,
#layout-radio-5:checked ~ .landing-form-list .landing-form-layout-item-header_footer:after,
#layout-radio-6:checked ~ .landing-form-list .landing-form-layout-item-without_left:after,
#layout-radio-7:checked ~ .landing-form-list .landing-form-layout-item-without_right:after,
.landing-form-layout-item-selected:after {
	content: url(/bitrix/images/landing/templates/check-icon.svg);
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 3px;
	right: 3px;
}

.landing-form-select-buttons {
	text-align: center;
}

.landing-form-select-prev, .landing-form-select-next {
	position: absolute;
	width: 12px;
	height: 19px;
	cursor: pointer;
	top: 62px;
}

.landing-form-select-prev {
	left: 0;
}

.landing-form-select-next {
	right: 0;
}

.landing-form-select-prev:before, .landing-form-select-prev:after, .landing-form-select-next:before, .landing-form-select-next:after {
	content: '';
	width: 12px;
	height: 3px;
	background: #7c838d;
	position: absolute;
	left: 0;
	top: 10px;
}

.landing-form-select-prev:hover:after, .landing-form-select-prev:hover:before, .landing-form-select-next:hover:after, .landing-form-select-next:hover:before {
	background: #535c69;
}

.landing-form-select-prev:before, .landing-form-select-next:after {
	transform: rotate(45deg);
}

.landing-form-select-prev:after, .landing-form-select-next:before {
	transform: rotate(-45deg);
	top: 3px;
}

.landing-form-select-next:after {
	 top: 3px;
 }

.landing-form-select-next:before {
	top: 10px;
}

.landing-form-list-container {
	margin-left: 24px;
	max-width: 615px;
	overflow: hidden;
}

.landing-form-list-inner {
	display: flex;
	transition: transform ease .3s;
}

.landing-form-layout-detail {
	display: flex;
}

.landing-form-layout-detail-hidden {
	display: none;
}

.landing-form-layout-img {
	width: 220px;
	height: 273px;
	background-repeat: no-repeat;
	margin-right: 36px;
	display: none;
}

.landing-form-layout-img-empty {
	background-image: url(/bitrix/images/landing/templates/layout_detail-1.svg);
	display: block;
}

.landing-form-layout-img-sidebar_right {
	background-image: url(/bitrix/images/landing/templates/layout_detail-2.svg);
}

.landing-form-layout-img-sidebar_left {
	background-image: url(/bitrix/images/landing/templates/layout_detail-3.svg);
}

.landing-form-layout-img-header_only {
	background-image: url(/bitrix/images/landing/templates/layout_detail-4-1.svg);
}

.landing-form-layout-img-header_footer {
	background-image: url(/bitrix/images/landing/templates/layout_detail-4.svg);
}

.landing-form-layout-img-without_left {
	background-image: url(/bitrix/images/landing/templates/layout_detail-5.svg);
}

.landing-form-layout-img-without_right {
	background-image: url(/bitrix/images/landing/templates/layout_detail-6.svg);
}

.landing-form-layout-block-item {
	margin-bottom: 22px;
}

.landing-form-layout-block-item:last-child {
	margin-bottom: 0;
}

.landing-form-layout-block-item .landing-ui-field-input {
	width: 316px;
}

.landing-form-page-layout-inner {
	padding-top: 11px;
	position: relative;
}

.landing-form-page-layout-inner .ui-checkbox-label {
	margin-bottom: 35px;
	padding-left: 27px;
}

.layout-form-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #f8f9fa;
	opacity: 0.6;
	z-index: 999;
}

.ui-checkbox-hidden-input .ui-checkbox:checked  + .landing-form-page-layout-inner .layout-form-overlay {
	display: none;
}

.landing-form-favicon-info {
	background: url(/bitrix/images/landing/templates/info-icon.svg) no-repeat;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	height: 16px;
	width: 16px;
	margin-left: 2px;
}

.ui-checkbox-hidden-input-layout .ui-checkbox:checked  + .landing-form-page-layout {
	 height: 538px;
}

.ui-checkbox-hidden-input-layout .ui-checkbox:checked  + .landing-form-page-layout-short {
	height: 210px;
}

.ui-checkbox-hidden-input-layout {
	padding-left: 0;
}

.landing-form-page-layout .ui-checkbox-label {
	margin-bottom: 35px;
	padding-left: 27px;
}

.landing-form-list-inner-prev {
	transform: translateX(-250px);
}


	/* ============== data URI icons ============*/

.ui-editing-pen:before {
	background-image: url(data:image/svg+xml,%0A%3Csvg%20width%3D%2211px%22%20height%3D%2211px%22%20viewBox%3D%220%200%2011%2011%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%3Cpath%20d%3D%22M0.799894744%2C8.15707577%20L0%2C11%20L2.9326141%2C10.1580224%20C2.74963818%2C9.70003465%202.48267331%2C9.28104581%202.14071831%2C8.9250553%20C1.7607683%2C8.56906479%201.30082883%2C8.30707177%200.800894612%2C8.15707577%20L0.799894744%2C8.15707577%20Z%20M7.28904085%2C1.59725061%20L1.55279567%2C7.33209776%20C2.02873304%2C7.56009168%202.46967502%2C7.8520839%202.86462305%2C8.20207457%20C3.18958029%2C8.5800645%203.46054464%2C9.0000533%203.67051701%2C9.45204126%20C4.02447043%2C9.09605075%207.65399283%2C5.46714746%209.40176285%2C3.71919405%20C9.17979205%2C3.22720716%208.87683192%2C2.77621918%208.5068806%2C2.38522961%20C8.15192731%2C2.04923856%207.73698191%2C1.78324565%207.28704112%2C1.59925055%20L7.28904085%2C1.59625063%20L7.28904085%2C1.59725061%20Z%20M10.5666096%2C0.434281603%20C10.2766477%2C0.148289226%209.88369943%2C-0.00770661647%209.47675298%2C0.000293170312%20C9.06880666%2C0.0102929038%208.68285744%2C0.180288373%208.40489402%2C0.480280377%20L8.06093928%2C0.823271236%20C8.51887902%2C1.01826604%208.93882376%2C1.29325871%209.30077613%2C1.63624957%20C9.66372837%2C2.01923936%209.9606893%2C2.46122758%2010.1766609%2C2.94321473%20L10.5226154%2C2.59722396%20C10.8195763%2C2.31723142%2010.9925535%2C1.93224168%2010.9995526%2C1.52425255%20C11.0095513%2C1.1172634%2010.8515721%2C0.724273874%2010.5646098%2C0.434281603%20L10.5676094%2C0.434281603%20L10.5666096%2C0.434281603%20Z%22%20fill%3D%22%23525C68%22%20fill-rule%3D%22nonzero%22%3E%3C/path%3E%0A%3C/svg%3E);
	background-repeat: no-repeat;
}
/* ============== data URI icons ===========*/


/* Select with color*/
.ui-select.select-color-wrap, .ui-select.select-lang-wrap {
	padding-left: 0;
	padding-right: 0;
}

.select-color-field, .select-lang-field {
	position: relative;
	display: block;
	overflow: hidden;
	min-width: 50px;
	height: 39px;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	box-sizing: border-box;
	padding: 10px 15px 10px 11px;
	max-width: 100%;
	width: 100%;
	outline: none;
	/*border: 1px solid #dde0e8;*/
	/*border-radius: 1px;*/
	/*background-color: #fff;*/
	/*color: #424956;*/
	/*font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	transition: 220ms all ease;
}
.select-color-field-icon {
	position: relative;
	display: inline-block;
	margin-top: -1px;
	margin-right: 10px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	background-color: #333;
	vertical-align: middle;
}

.menu-popup-item-text {
	display: inline-block;
	color: #525c68;
	line-height: 36px;
	padding: 0 15px 0 9px;
	text-decoration:none;
	vertical-align: middle;
	-webkit-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

.select-color-popup-menu-item.select-color-popup-menu-item--underline{
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.select-color-popup-menu-item .menu-popup-item-icon {
	display: inline-block;
	margin: 8px 0 0 12px;
	width: 17px;
	height: 17px;
	border-radius: 2px;
	background-color: #333;
	vertical-align: top;
	line-height: 17px;
}

.landing-form-inner-catalog {
	padding-bottom: 15px;
}

.landing-form-inner-catalog .ui-form-inner {
	padding: 0;
}

.landing-form-title-catalog td {
	color: #333;
	font: 17px/23px "OpenSans-Regular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	padding: 19px 0 15px 19px;
	background-color: #fff;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.landing-form-inner-catalog .ui-form-right-cell {
	display: flex;
	align-items: center;
}

.landing-form-title-catalog + tr .ui-form-label,
.landing-form-title-catalog + tr .ui-form-right-cell {
	border-top: none;
}

.landing-form-select-wide.ui-input {
	width: 500px;
}

.landing-form-table-inner {
	padding: 0 25px;
}

.landing-form-price-container .landing-ui-field-dropdown {
	width: 500px;
	margin-bottom: 0;
}

.landing-form-price-container .landing-ui-field-input {
	background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2212px%22%20height%3D%228px%22%20viewBox%3D%220%200%2012%208%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%3Cpath%20d%3D%22M3.65685425%2C3.65685425%20L3.65685425%2C-2.34314575%20L1.65685425%2C-2.34314575%20L1.65685425%2C4.65685425%20L1.65685425%2C5.65685425%20L9.65685425%2C5.65685425%20L9.65685425%2C3.65685425%20L3.65685425%2C3.65685425%20Z%22%20id%3D%22Path%22%20fill%3D%22%23535C69%22%20transform%3D%22translate%285.656854%2C%201.656854%29%20rotate%28-45.000000%29%20translate%28-5.656854%2C%20-1.656854%29%20%22%3E%3C/path%3E%3C/svg%3E);
	background-repeat: no-repeat;
	background-position: right 14px center;
	padding-right: 35px;
	overflow: hidden;
	width: 500px;
}

.landing-form-price-container .landing-ui-field-dropdown:after {
	content: none;
}

.landing-form-inner-catalog .landing-ui-panel-content-body-content {
	background: none;
	border: none;
	overflow: hidden;
}

.landing-form-inner-catalog .landing-ui-field-input.landing-ui-active {
	background-color: #fff;
}

.landing-form-inner-catalog .landing-ui-field {
	margin-bottom: 0;
}

.landing-form-inner-catalog .landing-ui-popup {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.landing-form-inner-catalog .landing-ui-field-link-url .landing-ui-field-input {
	max-width: 100%;
}

.landing-form-select-multi {
	background: none;
	height: 52px;
}

.landing-form-select-wide {
	min-width: 500px;
}

.ui-select.select-lang-wrap {
	max-width: 300px;
}

.language-icon .menu-popup-item-text {
	width: auto;
}

.select-lang-field {
	display: flex;
	align-items: center;
}

.select-lang-field .bx-lang-btn {
	width: 27px;
	height: 20px;
}

.select-lang-field .bx-lang-btn-icon {
	margin: 0;
}

.select-lang-field .bx-lang-btn-icon:after {
	content: none;
}

.landing-form-page-userconsent {
	align-self: flex-start;
}

.landing-form-page-userconsent.ui-checkbox-hidden-input .ui-checkbox:checked + .ui-checkbox-hidden-input-inner {
	height: 255px;
}

.landing-form-page-userconsent-block .ui-form-right-cell {
	height: 100%;
}

.landing-form-page-userconsent-block .ui-form-label {
	vertical-align: top;
	padding-top: 31px;
}

.ui-domainname-available {
	box-shadow: inset 0 0 0 1px #7ed321;
}

.ui-domainname-unavailable {
	box-shadow: inset 0 0 0 1px #fe5957;
}

.ui-domainname-available ~ .landing-site-name-status {
	color: #7ed321;
}

.ui-domainname-unavailable ~ .landing-site-name-status {
	color: #fe5957;
}

.btn-disabled {
	opacity: .6;
	pointer-events: none;
}

.ui-checkbox-label-wrapper {
	box-sizing: border-box;
	height: 39px;
	overflow: hidden;
	padding-top: 11px;
}

.landing-form-help-link {
	margin: 10px 0 0 27px;
}

#field-gacounter_click_type-use {
	height: 0;
	opacity: 0;
	transition: all .2s linear;
}

#field-gacounter_click_type-use.ui-select-gacounter-show {
	height: 39px;
	margin-top: 7px;
	opacity: 1;
}
