/*region Debugger*/
.dbg1 {outline: 1px dashed #f00;}

.dbg2 {outline: 1px dashed #ff0;}

/*endregion*/

.ui-entity-wrap { position: relative; }

.ui-entity-section { }

.ui-entity-editor-container { }

/*region Buttons panel*/
.ui-entity-section.ui-entity-section-control {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	box-sizing: border-box;
	padding: 10px 0 0;
	background-color: #fff;
	box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, .05);
	text-align: center;
	transition: all 300ms ease;
	transform: translateY(100%);
}

.ui-entity-wrap.crm-section-control-active .ui-entity-section.ui-entity-section-control { transform: translateY(0); }

.ui-entity-section-control-error-block {
	overflow: hidden;
	margin-top: 10px;
	max-height: 150px;
	transition: all 300ms ease;
}

.ui-entity-section-control-error-text {
	padding: 20px;
	width: 100%;
	background-color: #fae5e8;
	color: #d0011b;
	box-sizing: border-box;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion */

.ui-entity-card-common,
.ui-entity-card-private {
	display: inline-block;
	width: 40px;
	height: 26px;
	vertical-align: middle;
}

.ui-entity-card-private { background: url(images/private.svg) no-repeat center; }

.ui-entity-card-common { background: url(images/common.svg) no-repeat center; }

/*region Section*/
.ui-entity-editor-section,
.ui-entity-editor-section-edit {
	position: relative;
	box-sizing: border-box;
	margin-bottom: 15px;
	border-radius: 1px;
	padding: 0 20px;
	background-color: #f9fafb;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .04);
	transition: background-color 250ms linear, opacity 250ms linear;
}

.ui-entity-editor-section-edit { background-color: #fff; }

/*endregion*/

/*region Section Header*/
.ui-entity-editor-section-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	border-bottom: 1px solid #e8ecee;
	margin: 0 auto;
	padding: 15px 0 20px;
	position: relative;
}

.ui-entity-editor-header-title { width: calc(100% - 30px); }

.ui-entity-editor-header-title-text {
	display: inline-block;
	height: 23px;
	color: #525c69;
	vertical-align: middle;
	text-transform: none;
	font: 400 18px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.ui-entity-editor-header-title-text {
	padding: 0;
	width: calc(100% - 100px);
	border: none;
	background-color: transparent;
	color: #000;
}

.ui-entity-editor-header-actions {
	padding: 2px 0;
	transition: 300ms all ease;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ui-entity-card-clients-actions-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
	margin-bottom: 13px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ui-entity-editor-section-edit .ui-entity-editor-header-actions ,
.ui-entity-editor-section:hover .ui-entity-editor-header-actions { opacity: 1; }

.ui-entity-editor-header-edit-lnk {
	position: relative;
	display: inline-block;
	margin-left: 8px;
	white-space: normal;
	border-bottom: 1px dashed transparent;
	color: #333;
	text-transform: lowercase;
	letter-spacing: .2px;
	font-weight: normal;
	font-size: 13px;
	line-height: 14px;
	opacity: .5;
	cursor: pointer;
	transition: 300ms all ease;
}

.ui-entity-editor-header-edit-lnk:hover {
	border-bottom-color: #6a6f75;
	color: #6a6f75;
	opacity: 1;
}

.ui-entity-editor-header-title-edit-icon {
	position: relative;
	bottom: -1px;
	display: none;
	padding-right: 5px;
	padding-left: 5px;
	width: 15px;
	height: 20px;
	background: url(images/icons-sprite.svg) no-repeat center -255px;
	vertical-align: middle;
	opacity: .4;
	cursor: pointer;
	transition: 220ms all ease;
}

.ui-entity-editor-content-block:hover .ui-entity-editor-header-title-edit-icon {
	position: absolute;
	display: inline-block;
	margin-bottom: -3px;
	line-height: inherit;
}

.ui-entity-editor-header-title-edit-icon:hover { opacity: 1; }

.ui-entity-editor-section-edit .ui-entity-editor-header-title-edit-icon,
.ui-entity-editor-section:hover .ui-entity-editor-header-title-edit-icon { display: inline-block; }

/*endregion*/

/*region Section content*/
.ui-entity-editor-section-content {
	position: relative;
	padding: 15px 0;
	transition: 250ms linear padding, 250ms linear height;
}

.ui-entity-editor-sub-section-content {
	border: 1px solid #EAECF1;
	position: relative;
	padding: 15px 20px;
	transition: 250ms linear padding, 250ms linear height;
}

.ui-entity-editor-sub-section-content .ui-entity-editor-sub-section-content {
	background: #F6F6F7;
	border: none;
}

.ui-entity-editor-sub-section-content + .ui-entity-editor-sub-section-content {
	margin-top: 4px;
}

.ui-entity-editor-content-block {
	position: relative;
	margin: 0 0 15px;
	transition: 220ms opacity linear;
	box-sizing: border-box;
}

.ui-entity-editor-section-edit .ui-entity-editor-content-block,
.ui-entity-editor-content-block-edit .ui-entity-editor-content-block,
.ui-entity-editor-content-block[data-animate="show"] .ui-entity-editor-block-title {
	max-height: none;
	-webkit-animation: showEditMode 500ms linear;
	animation: showEditMode 500ms linear;
}

@-webkit-keyframes showEditMode {
	0%, 30% { opacity: 0; }
	0% { max-height: 36px; }
	100% { opacity: 1; }
	30%, 100% { max-height: 200px; }
}

@keyframes showEditMode {
	0%, 30% { opacity: 0; }
	0% { max-height: 36px; }
	100% { opacity: 1; }
	30%, 100% { max-height: 200px; }
}

.ui-entity-editor-content-block-field-readonly .ui-entity-editor-content-block {
	-webkit-animation: none;
	animation: none;
}

/*region New Fields*/
.ui-entity-editor-content-block-new-fields {
	position: relative;
	padding: 12px 15px;
	margin: 0 -15px;
	transition: 220ms opacity linear;
	background-color: #f6f6f7;
}

.ui-entity-editor-new-field-helper-icon {
	display: inline-block;
	margin-left: 5px;
	min-width: 13px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #b1b7c5 no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%225%22%20height%3D%229%22%20viewBox%3D%220%200%205%209%22%3E%0A%20%20%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M3.9824624%2C4.78956902%20C3.9824624%2C4.47209836%204.08437698%2C4.15040692%204.28825178%2C3.82456316%20C4.49205814%2C3.49871939%204.78956568%2C3.22886362%205.18056908%2C3.01495022%20C5.57159528%2C2.80110527%206.02778112%2C2.69412575%206.54912658%2C2.69412575%20C7.03367146%2C2.69412575%207.46149826%2C2.78358335%207.83247009%2C2.96231603%20C8.20344191%2C3.14113996%208.48995263%2C3.38427937%208.69220756%2C3.69171144%20C8.89437124%2C3.99923476%208.9954873%2C4.33338319%208.9954873%2C4.69431642%20C8.9954873%2C4.97840874%208.93783381%2C5.22743442%208.82252682%2C5.44125656%20C8.70721983%2C5.65516996%208.57014734%2C5.83981171%208.41144623%2C5.99518183%20C8.25267667%2C6.15059758%207.96778582%2C6.41212588%207.55672805%2C6.7797439%20C7.44308656%2C6.88336961%207.35196346%2C6.97446989%207.28351848%2C7.05297629%20C7.21498223%2C7.13152832%207.16399072%2C7.20337274%207.13061238%2C7.26850955%20C7.09716559%2C7.33369199%207.07122494%2C7.39885162%207.0529045%2C7.46403406%20C7.0344928%2C7.52917088%207.00693229%2C7.64370215%206.97020014%2C7.80742256%20C6.9066832%2C8.15503184%206.70780488%2C8.32879084%206.37365645%2C8.32879084%20C6.19985182%2C8.32879084%206.0536077%2C8.27200432%205.93501535%2C8.15834001%20C5.81635456%2C8.04474415%205.75705838%2C7.87595881%205.75705838%2C7.65202963%20C5.75705838%2C7.37129111%205.80045251%2C7.1281517%205.88740045%2C6.92263422%20C5.97427996%2C6.71707111%206.08956413%2C6.53660449%206.2332986%2C6.38123437%20C6.37694181%2C6.22581862%206.57082365%2C6.04119968%206.81480721%2C5.82728628%20C7.02865216%2C5.64015769%207.18326939%2C5.49893287%207.27852199%2C5.40368026%20C7.3737746%2C5.30842765%207.45396931%2C5.20238355%207.51915175%2C5.08534263%20C7.58431138%2C4.96839296%207.61691401%2C4.84142751%207.61691401%2C4.70435501%20C7.61691401%2C4.4370089%207.51744063%2C4.21143704%207.31863076%2C4.0275938%20C7.11975244%2C3.84384183%206.86322063%2C3.75187458%206.54912658%2C3.75187458%20C6.18144012%2C3.75187458%205.91074019%2C3.84461754%205.737004%2C4.03010345%20C5.56319937%2C4.21558936%205.41617953%2C4.48879894%205.29585325%2C4.84973217%20C5.18221176%2C5.22743442%204.96663286%2C5.41620569%204.6491622%2C5.41620569%20C4.46194234%2C5.41620569%204.30403976%2C5.35024754%204.17543163%2C5.21819435%20C4.04677787%2C5.08618678%203.9824624%2C4.94331928%203.9824624%2C4.78956902%20Z%20M6.42882311%2C10.2838763%20C6.2249255%2C10.2838763%206.04696853%2C10.2178268%205.8949294%2C10.0858421%20C5.74282183%2C9.95388016%205.66682508%2C9.7692384%205.66682508%2C9.53191682%20C5.66682508%2C9.32135722%205.74028936%2C9.14426723%205.88740045%2C9.00053276%20C6.03442028%2C8.85686673%206.2148869%2C8.78497668%206.4288003%2C8.78497668%20C6.63935989%2C8.78497668%206.81644989%2C8.85686673%206.96018436%2C9.00053276%20C7.10382757%2C9.14426723%207.17574044%2C9.32135722%207.17574044%2C9.53191682%20C7.17574044%2C9.7658846%207.10054221%2C9.94970502%206.95014576%2C10.0833553%20C6.79974931%2C10.2170055%206.62599031%2C10.2838763%206.42882311%2C10.2838763%20Z%22%20transform%3D%22translate%28-4%20-2%29%22/%3E%0A%3C/svg%3E%0A);
	vertical-align: middle;
	line-height: inherit;
	opacity: .7;
	transition: opacity 250ms linear;
}

.ui-entity-editor-new-field-helper-icon:hover {
	opacity: 1;
	cursor: pointer;
}

.ui-entity-editor-new-field-locked-icon {
	display: inline-block;
	margin-left: 5px;
	min-width: 13px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%228%22%20height%3D%2210%22%20viewBox%3D%220%200%208%2010%22%3E%0A%20%20%3Cpath%20fill%3D%22%2328B9E9%22%20d%3D%22M601.29424%2C91.02909%20C601.294695%2C89.35856%20599.81644%2C88%20598.001395%2C88%20C596.184966%2C88%20594.707641%2C89.35856%20594.707641%2C91.02909%20L594.707641%2C92.3971%20L594%2C92.3971%20L594%2C98%20L602%2C98%20L602%2C92.39666%20L601.29424%2C92.39666%20L601.29424%2C91.02909%20Z%20M595.947997%2C91.02909%20C595.947997%2C89.9885%20596.868819%2C89.14272%20598.000941%2C89.14272%20C599.131203%2C89.14272%20600.051549%2C89.98894%20600.051549%2C91.02909%20L600.051549%2C92.3971%20L595.947997%2C92.3971%20L595.947997%2C91.02909%20L595.947997%2C91.02909%20L595.947997%2C91.02909%20Z%20M598.566764%2C96.46377%20L597.436502%2C96.46377%20L597.605827%2C94.92798%20C597.396841%2C94.80827%20597.255975%2C94.59457%20597.255975%2C94.34955%20C597.255975%2C93.97236%20597.589046%2C93.66598%20598.001395%2C93.66598%20C598.41143%2C93.66598%20598.74355%2C93.97238%20598.74355%2C94.34955%20C598.74355%2C94.59457%20598.604997%2C94.80785%20598.394151%2C94.92798%20L598.566764%2C96.46377%20L598.566764%2C96.46377%20L598.566764%2C96.46377%20Z%22%20transform%3D%22translate%28-594%20-88%29%22/%3E%0A%3C/svg%3E%0A);
	vertical-align: middle;
	line-height: inherit;
	opacity: .7;
	transition: opacity 250ms linear;
}

.ui-entity-editor-new-field-locked-icon:hover {
	opacity: 1;
	cursor: pointer;
}

/* addiction step*/
.ui-entity-new-field-addiction-label { white-space: nowrap; }

/* remove btn*/

.ui-entity-editor-content-remove-block {
	position: relative;
	margin: 9px;
	max-width: 20px;
	width: 20px;
	height: 20px;
	border: none;
	opacity: .3;
	cursor: pointer;
	transition: opacity 220ms linear;
}

.ui-entity-editor-content-remove-block:hover { opacity: .7 !important; }

.ui-entity-editor-content-remove-block:after,
.ui-entity-editor-content-remove-block:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 10px;
	height: 2px;
	background: #333;
	content: '';
}

.ui-entity-editor-content-remove-block:before {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.ui-entity-editor-content-remove-block:after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

/*endregion*/

/*region Context menu*/
.ui-entity-editor-block-context-menu {
	position: absolute;
	right: -4px;
	top: -4px;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%20viewBox%3D%220%200%2012%2012%22%3E%0A%20%20%3Cpath%20fill%3D%22%23767676%22%20d%3D%22M703.2162%2C375.493606%20C703.03489%2C376.345928%20702.36463%2C377.016206%20701.51234%2C377.197463%20C699.8874%2C377.543055%20698.47582%2C376.131018%20698.82147%2C374.506376%20C698.98493%2C373.738143%20699.75689%2C372.966103%20700.5251%2C372.802606%20C702.14973%2C372.456805%20703.56186%2C373.868528%20703.2162%2C375.493606%20M706.5609%2C374.126224%20L705.37221%2C373.927905%20L705.37221%2C373.927905%20C705.28776%2C373.582645%20705.1655%2C373.252265%20705.00681%2C372.943435%20C705.00014%2C372.930442%20705.00169%2C372.914811%20705.01086%2C372.903443%20L705.75675%2C371.978576%20C705.9186%2C371.779157%20705.91125%2C371.492244%20705.74062%2C371.299793%20L705.26785%2C370.767705%20C705.09648%2C370.575446%20704.8123%2C370.53479%20704.59553%2C370.671741%20L703.57896%2C371.310795%20L703.57896%2C371.310795%20C703.13826%2C371.00289%20702.63989%2C370.774341%20702.10251%2C370.639678%20C702.08826%2C370.636098%20702.07745%2C370.624467%20702.07502%2C370.609954%20L701.88013%2C369.438726%20C701.83839%2C369.185675%20701.61941%2C369%20701.36236%2C369%20L700.64991%2C369%20C700.39338%2C369%20700.17365%2C369.185675%20700.13284%2C369.438726%20L699.93687%2C370.610391%20C699.93444%2C370.624868%20699.92365%2C370.636464%20699.90942%2C370.640027%20C699.47453%2C370.749019%20699.06605%2C370.921037%20698.69186%2C371.145936%20C698.67925%2C371.153516%20698.66341%2C371.152957%20698.65143%2C371.1444%20L697.70436%2C370.468497%20C697.49601%2C370.319636%20697.20982%2C370.342915%20697.02799%2C370.524364%20L696.52467%2C371.028056%20C696.34322%2C371.209889%20696.31994%2C371.496086%20696.4692%2C371.704447%20L697.14669%2C372.653413%20C697.15523%2C372.665376%20697.15582%2C372.681215%20697.14826%2C372.693824%20C696.92555%2C373.065123%20696.75532%2C373.471174%20696.64644%2C373.902111%20C696.64284%2C373.916344%20696.63125%2C373.927102%20696.61679%2C373.929512%20L695.4387%2C374.126242%20C695.18604%2C374.167963%20695%2C374.386976%20695%2C374.644044%20L695%2C375.355956%20C695%2C375.613006%20695.18604%2C375.832037%20695.4387%2C375.873758%20L696.61675%2C376.070471%20C696.63123%2C376.072898%20696.64284%2C376.083674%20696.64642%2C376.097924%20C696.73499%2C376.44975%20696.86115%2C376.786295%20697.027%2C377.099579%20C697.03391%2C377.112642%20697.03245%2C377.128516%20697.02316%2C377.140025%20L696.28095%2C378.059285%20C696.11966%2C378.258513%20696.12643%2C378.545618%20696.29707%2C378.737894%20L696.76947%2C379.269999%20C696.94085%2C379.462608%20697.22519%2C379.50253%20697.44198%2C379.365928%20L698.45281%2C378.730926%20C698.4652%2C378.723137%20698.48099%2C378.723452%20698.49311%2C378.73166%20C698.92454%2C379.023218%20699.41123%2C379.237918%20699.93289%2C379.365928%20L699.93289%2C379.365928%20L700.13286%2C380.561239%20C700.17367%2C380.814307%20700.39338%2C381%20700.64991%2C381%20L701.36236%2C381%20C701.61942%2C381%20701.83839%2C380.814325%20701.88013%2C380.561257%20L702.07535%2C379.389801%20C702.07778%2C379.375306%20702.08859%2C379.363693%20702.10284%2C379.36013%20C702.53211%2C379.25264%20702.93528%2C379.08366%20703.30594%2C378.862726%20C703.31855%2C378.855216%20703.33433%2C378.85581%20703.34626%2C378.864332%20L704.33369%2C379.569574%20C704.54168%2C379.718977%20704.82807%2C379.69554%20705.00971%2C379.513515%20L705.51325%2C379.009981%20C705.69448%2C378.828706%20705.71902%2C378.542666%20705.56852%2C378.333921%20L704.86559%2C377.348351%20C704.85705%2C377.336388%20704.85647%2C377.320566%20704.86403%2C377.307974%20C705.0874%2C376.935419%20705.25854%2C376.528582%20705.36682%2C376.095706%20C705.37038%2C376.081456%20705.38199%2C376.070646%20705.39647%2C376.068218%20L706.5613%2C375.873724%20C706.81471%2C375.831985%20707%2C375.612971%20707%2C375.355921%20L707%2C374.644009%20C706.99962%2C374.386976%20706.81433%2C374.167963%20706.5609%2C374.126224%22%20transform%3D%22translate%28-695%20-369%29%22%20opacity%3D%221%22/%3E%0A%3C/svg%3E%0A);
	opacity: 0;
	cursor: pointer;
	transition: opacity 150ms ease, border-color 150ms ease;
}

.ui-entity-editor-section-edit .ui-entity-editor-content-block-field-readonly .ui-entity-editor-block-context-menu { top: -4px; !important;}

.ui-entity-editor-section-edit .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit .ui-entity-editor-block-context-menu { top: 28px; }

.ui-entity-editor-section-edit .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block:hover .ui-entity-editor-block-context-menu { opacity: .35; }

.ui-entity-editor-content-block:hover .ui-entity-editor-block-context-menu:hover { opacity: 1; }

.ui-entity-editor-section-edit .ui-entity-editor-content-block-field-radiobox .ui-entity-editor-block-context-menu,
.ui-entity-editor-section-edit .ui-entity-editor-field-checkbox .ui-entity-editor-block-context-menu,
.ui-entity-editor-section-edit .ui-entity-editor-content-block-field-custom-radiobox .ui-entity-editor-block-context-menu,
.ui-entity-editor-section-edit .ui-entity-editor-field-custom-checkbox .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit.ui-entity-editor-content-block-field-radiobox .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit.ui-entity-editor-field-checkbox .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit.ui-entity-editor-content-block-field-custom-radiobox .ui-entity-editor-block-context-menu,
.ui-entity-editor-content-block-edit.ui-entity-editor-field-custom-checkbox .ui-entity-editor-block-context-menu { top: 1px; }

.ui-entity-editor-content-block-drag .ui-entity-editor-block-context-menu { display: none; }

/*endregion*/

/*region Widget content - Title*/
.ui-entity-editor-block-title {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	margin-bottom: 5px;
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.ui-entity-editor-block-title-actions { }

.ui-entity-editor-content-block {
	color: #424956;
	word-break: break-all;
	word-break: break-word;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-entity-editor-content-block-collapsed {
	height: 0;
	padding: 0;
	overflow: hidden;
}

.ui-entity-editor-section-content-padding-right > div > .ui-entity-editor-block-title {padding-right: 12px; }
.ui-entity-editor-section-content-padding-right > .ui-entity-editor-content-block {padding-right: 24px; }

.ui-entity-editor-content-block-padding-left { margin-left: 40px; }

.ui-entity-editor-content-block-new-fields .ui-entity-editor-block-title,
.ui-entity-editor-content-block-new-fields .ui-entity-editor-content-block {padding-right: 0; }

.ui-entity-editor-content-block-click-empty .ui-entity-editor-content-block { opacity: .5; }

.ui-entity-editor-content-block-click-editable .ui-entity-editor-content-block { cursor: text; }

.ui-entity-editor-content-block-click-editable .ui-entity-editor-content-block:hover { color: #000; }

/*todo: add locked icon*/
.ui-entity-editor-content-block-locked .ui-entity-editor-content-block { opacity: .5; }

/*endregion*/

/*region Checkbox for menu*/
.ui-entity-card-context-menu-item-hide-empty-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-align: center;
}

.ui-entity-card-context-menu-item-hide-empty-input { margin: 0 5px 0 0; }

/*endregion*/

/*region Nothing selected*/
.ui-entity-editor-content-nothing-selected {
	position: relative;
	cursor: pointer;
}

.ui-entity-editor-content-nothing-selected-text {
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Section Actions btn*/
.ui-entity-card-content-actions-container {
	box-sizing: border-box;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.ui-entity-editor-content-add-lnk,
.ui-entity-editor-content-create-lnk,
.ui-entity-editor-content-remove-lnk,
.ui-entity-editor-content-remove-lnk-disabled {
	display: inline-block;
	margin: 1px 15px 1px 0;
	border-bottom: 1px dashed;
	color: #80868e;
	text-decoration: none;
	white-space: nowrap;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.ui-entity-editor-content-add-lnk:hover,
.ui-entity-editor-content-create-lnk:hover { color: #333; }

.ui-entity-editor-content-remove-lnk { margin-right: 0; }

.ui-entity-editor-content-remove-lnk:hover { color: #9d3b2a; }

.ui-entity-editor-section-edit .ui-entity-editor-content-remove-lnk { color: #d01515; }

.ui-entity-editor-content-remove-lnk-disabled { color: #c0c0c0; }

.ui-entity-editor-content-remove-lnk-disabled:hover { color: #333; }
.ui-entity-editor-content-block-add-field { }
/*endregion*/

/*region Editor*/
/*region Editor - common*/
.ui-entity-editor-field-description {
	color: #a3a9b1;
	font: 12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 2px;
}

.ui-entity-editor-content-block-field-custom-select .field-item > span {
	position: relative;
	display: block;
	min-height: 39px;
}

.field-wrap,
.ui-entity-editor-section-edit .ui-entity-card-clients-block,
.ui-entity-editor-section-edit .ui-entity-editor-content-block {
	position: relative;
	display: block;
	margin-bottom: 10px;
}

.field-wrap .field-item:last-child { margin-bottom: 0 !important; }

/*endregion*/

/*region Editor - Main form*/
.fields .separator { display: none !important; }

.field-item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	margin-bottom: 10px;
	-webkit-box-align: center;
	align-items: center;
}

.uf-employee-wrap {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.field-item.date,
.field-item.datetime {
	position: relative;
	width: 50%;
}

.fields.crm_status select,
.field-item input,
.field-item select,
.field-item textarea,
.field-item .main-ui-control.main-ui-select,
.field-item .main-ui-control.main-ui-multi-select,
.ui-entity-editor-field-textarea,
.ui-entity-editor-field-textarea textarea,
.ui-entity-editor-content-block select.filter-dropdown {
	display: block;
	box-sizing: border-box;
	padding: 10px 9px;
	min-height: 39px;
	max-width: 100%;
	width: 100%;
	outline: none;
	border: 1px solid #c4c7cc;
	border-radius: 1px;
	background-color: #fff;
	color: #424956;
	font: 15px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 220ms all ease;
}

.field-item textarea { min-width: 100%; }

.field-item.money select,
.fields.crm_status select,
.field-item.enumeration select {
	border-radius: 1px;
	background-color: #fff;
}

.field-item.money select,
.field-item.enumeration select {
	height: 39px;
}

.field-item.enumeration-multiselect select[multiple="multiple"],
.field-item.enumeration-multiselect select[multiple="multiple"]:focus {
	padding: 0 10px;
	height: auto;
	background-image: none !important;
}

.field-item.double input,
.field-item.integer input { width: auto; }

.ui-entity-editor-field-textarea .bx-html-editor { box-sizing: border-box; }

/**/

/*endregion*/

/*region Editor - Checkbox*/
.fields.enumeration.enumeration-checkbox.field-item br { display: none; }

.ui-entity-editor-content-block .fields.enumeration { display: block; }

.fields.boolean.field-item label,
.fields.enumeration.enumeration-checkbox.field-item label,
.ui-entity-editor-field-custom-checkbox .boolean label {
	position: relative;
	display: block;
	padding-left: 20px;
	color: #424956;
	vertical-align: middle;
	font: 14px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.field-item input[type=checkbox],
.field-item input[type=radio],
.ui-entity-editor-field-custom-checkbox .boolean input[type=checkbox],
.ui-entity-editor-field-checkbox label input[type=radio],
.ui-entity-editor-field-custom-checkbox .boolean input[type=radio] {
	position: absolute;
	top: 6px;
	left: 0;
	margin: 0;
	min-width: 0 !important;
	min-height: 0 !important;
	width: auto !important;
	height: auto !important;
}

.ui-entity-editor-content-block-checkbox-flag {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 7px;
	border-radius: 1px;
	background: #e0e5e9;
	color: #525c69;
	text-align: center;
	font: bold 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Editor - Location */
.fields.address { font: 400 13px/19px "Helvetica Neue", Helvetica, Arial, sans-serif; }

.fields.address a {
	display: inline;
	border-bottom: 1px dashed;
}

.fields.address a:hover { border-bottom-style: solid; }

/*endregion*/

/*region Editor - Radio*/
.ui-entity-card-content-radio {
	position: absolute;
	top: 6px;
	left: 0;
	margin: 0;
}

.ui-entity-editor-content-block-radio-flag {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 7px;
	border-radius: 1px;
	background: #e0e5e9;
	color: #525c69;
	text-align: center;
	font: bold 12px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-entity-editor-content-block-radio-description {
	color: #424956;
	vertical-align: middle;
	font: 14px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region Editor - Select */
.field-item .main-ui-control.main-ui-select,
.field-item .main-ui-control.main-ui-multi-select {
	position: relative;
	padding: 10px 26px 10px 9px;
	background-image: none !important;
	cursor: pointer;
}

.field-item .main-ui-control.main-ui-select:after,
.field-item .main-ui-control.main-ui-select:before,
.field-item .main-ui-control.main-ui-multi-select:after,
.field-item .main-ui-control.main-ui-multi-select:before {
	position: absolute;
	top: 50%;
	left: calc(100% - 3px);
	width: 8px;
	height: 2px;
	background-color: #979797;
	content: "";
	transition: all 250ms ease;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}

.field-item .main-ui-control.main-ui-select:before,
.field-item .main-ui-control.main-ui-multi-select:before { margin-left: -15px; }

.field-item .main-ui-control.main-ui-select:before,
.field-item .main-ui-control.main-ui-select.main-ui-focus:after,
.field-item .main-ui-control.main-ui-multi-select:before,
.field-item .main-ui-control.main-ui-multi-select.main-ui-focus:after {
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	-ms-transform: translate(-50%, -50%) rotate(45deg);
	transform: translate(-50%, -50%) rotate(45deg);
}

.field-item .main-ui-control.main-ui-select:after,
.field-item .main-ui-control.main-ui-multi-select:after { margin-left: -10px; }

.field-item .main-ui-control.main-ui-select:after,
.field-item .main-ui-control.main-ui-select.main-ui-focus:before,
.field-item .main-ui-control.main-ui-multi-select:after,
.field-item .main-ui-control.main-ui-multi-select.main-ui-focus:before {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	-ms-transform: translate(-50%, -50%) rotate(-45deg);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.field-item .main-ui-control.main-ui-select:hover:after,
.field-item .main-ui-control.main-ui-select:hover:before,
.field-item .main-ui-control.main-ui-multi-select:hover:after,
.field-item .main-ui-control.main-ui-multi-select:hover:before { background-color: #767676; }

.field-item.money select,
.fields.crm_status select,
.field-item.enumeration select,
.ui-entity-editor-content-block select.filter-dropdown {
	padding: 10px 26px 10px 9px;
	border-radius: 1px;
	background: #fff no-repeat calc(100% - 6px) center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2211%22%20height%3D%227%22%20viewBox%3D%220%200%2011%207%22%3E%20%20%3Cpath%20fill%3D%22%23979797%22%20fill-rule%3D%22evenodd%22%20d%3D%22M349.545942%2C95.4246212%20L349.545942%2C89.6066017%20L347.606602%2C89.6066017%20L347.606602%2C96.3942911%20L347.606602%2C97.363961%20L355.363961%2C97.363961%20L355.363961%2C95.4246212%20L349.545942%2C95.4246212%20Z%22%20transform%3D%22rotate%28-45%2067.431%20465.144%29%22/%3E%3C/svg%3E);
	vertical-align: bottom;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.field-item.enumeration select[size],
.field-item.enumeration select[size]:focus {
	padding: 0 10px;
	height: auto;
	background-image: none !important;
}

.field-item.money select:focus,
.field-item.enumeration select:focus { background: #fff no-repeat calc(100% - 6px) center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%20viewBox%3D%220%200%2012%208%22%3E%20%20%3Cpath%20fill%3D%22%23979797%22%20fill-rule%3D%22evenodd%22%20d%3D%22M606%2C611%20L606%2C605%20L604%2C605%20L604%2C612%20L604%2C613%20L612%2C613%20L612%2C611%20L606%2C611%20Z%22%20transform%3D%22rotate%28135%20431.885%20182.822%29%22/%3E%3C/svg%3E); }

.ui-entity-editor-content-block select.filter-dropdown {
	overflow: hidden;
	max-width: 100%;
}

.ui-entity-editor-content-block select.filter-dropdown[multiple="multiple"] {
	overflow: hidden;
	padding: 0;
	max-width: 100%;
	width: 100%;
	height: 73px;
	background-image: none;
}

/*endregion*/

/*region Editor - Main form */
.ui-entity-editor-field-textarea { max-width: 100%; }

.field-item .main-ui-control.main-ui-select.main-ui-focus,
.field-item .main-ui-control.main-ui-select:hover,
.field-item .main-ui-control.main-ui-multi-select.main-ui-focus,
.field-item .main-ui-control.main-ui-multi-select:hover,
.field-item textarea:focus,
.field-item textarea:hover,
.field-item.url input:focus,
.field-item.url input:hover,
.field-item.date input:hover,
.field-item.date input:focus,
.field-item.money input:focus,
.field-item.money input:hover,
.field-item.string input:focus,
.field-item.string input:hover,
.field-item.double input:focus,
.field-item.double input:hover,
.field-item.money select:focus,
.field-item.money select:hover,
.fields.crm_status select:focus,
.fields.crm_status select:hover,
.field-item.datetime input:hover,
.field-item.datetime input:focus,
.field-item.enumeration select:hover,
.field-item.enumeration select:focus { border-color: #64a6f3; }
/**/
.ui-entity-editor-field-error .bx-html-editor,
.ui-entity-editor-field-error input[type=checkbox],
.ui-entity-editor-field-error input[type=radio],
.ui-entity-editor-field-error select,
.ui-entity-editor-field-error .field-item textarea,
.ui-entity-editor-field-error .custom-field-item,
.ui-entity-editor-field-error .fields input[type=text] { border-color: #ff5752 !important; }

.ui-entity-editor-field-error-text {
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 10px 11px;
	background-color: #fae5e8;
	color: #d0011b;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/**/
.field-item.date input,
.field-item.datetime input { background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2217%22%20height%3D%2215%22%20viewBox%3D%220%200%2017%2015%22%3E%20%20%3Cpath%20fill%3D%22%23A1A1A1%22%20d%3D%22M19.2203068%2C227.579302%20C19.4159762%2C227.579302%2019.6036161%2C227.503694%2019.7418756%2C227.369138%20C19.8801351%2C227.234582%2019.9576669%2C227.052123%2019.957385%2C226.861969%20L19.957385%2C225.786486%20C19.957385%2C225.390884%2019.6273838%2C225.070185%2019.2203068%2C225.070185%20C18.8132298%2C225.070185%2018.4832287%2C225.390884%2018.4832287%2C225.786486%20L18.4832287%2C226.861969%20C18.4829467%2C227.052123%2018.5604785%2C227.234582%2018.698738%2C227.369138%20C18.8369975%2C227.503694%2019.0246374%2C227.579302%2019.2203068%2C227.579302%20L19.2203068%2C227.579302%20Z%20M11.7858009%2C227.652584%20C12.2169272%2C227.652584%2012.566424%2C227.312939%2012.566424%2C226.893965%20L12.566424%2C225.758618%20C12.566424%2C225.339645%2012.2169272%2C225%2011.7858009%2C225%20C11.3546747%2C225%2011.0051778%2C225.339645%2011.0051778%2C225.758618%20L11.0051778%2C226.893965%20C11.0051778%2C227.095164%2011.0874218%2C227.288121%2011.233817%2C227.43039%20C11.3802123%2C227.572658%2011.5787668%2C227.652584%2011.7858009%2C227.652584%20L11.7858009%2C227.652584%20Z%20M22.0369225%2C226.582261%20L20.8134152%2C226.582261%20L20.8134152%2C227.098328%20C20.8134152%2C227.953376%2020.1001563%2C228.646529%2019.2203068%2C228.646529%20C18.3404574%2C228.646529%2017.6271984%2C227.953376%2017.6271984%2C227.098328%20L17.6271984%2C226.582261%20L13.3789093%2C226.582261%20L13.3789093%2C227.098328%20C13.3789093%2C227.953376%2012.6656504%2C228.646529%2011.7858009%2C228.646529%20C10.9059515%2C228.646529%2010.1926925%2C227.953376%2010.1926925%2C227.098328%20L10.1926925%2C226.582261%20L8.96918531%2C226.582261%20C8.41963391%2C226.58108%207.89468921%2C226.803615%207.52173741%2C227.195865%20C7.14878561%2C227.588115%206.96191611%2C228.114226%207.00647571%2C228.646529%20L7.00647571%2C238.967866%20C7.00647571%2C239.537898%207.48198171%2C240%208.06854801%2C240%20L22.9375597%2C240%20C23.524126%2C240%2023.999632%2C239.537898%2023.999632%2C238.967866%20L23.999632%2C228.646529%20C24.020459%2C227.558434%2023.1547325%2C226.647912%2022.0369225%2C226.582261%20Z%20M22%2C238%20L9.00000001%2C238%20L9.00000001%2C231%20L22%2C231%20L22%2C238%20Z%20M12.6705071%2C234.641161%20C12.2449609%2C234.998271%2011.8674281%2C235.406081%2011.5468347%2C235.854951%20C11.3616803%2C236.149457%2011.2456369%2C236.48002%2011.2069715%2C236.823092%20L14.7064997%2C236.823092%20L14.7064997%2C235.922039%20L12.7236107%2C235.922039%20C12.7820647%2C235.825793%2012.850385%2C235.735538%2012.9275286%2C235.652653%20C13.0110783%2C235.560449%2013.2107479%2C235.373976%2013.5265374%2C235.093236%20C13.7608069%2C234.894272%2013.9791618%2C234.678277%2014.1797118%2C234.44712%20C14.344479%2C234.251596%2014.479337%2C234.03398%2014.5801131%2C233.801005%20C14.6639123%2C233.59354%2014.7067873%2C233.372603%2014.7064997%2C233.149728%20C14.7148934%2C232.768765%2014.5538791%2C232.402777%2014.2646776%2C232.145462%20C13.9312208%2C231.861749%2013.4963595%2C231.716804%2013.0539152%2C231.741898%20C12.6354439%2C231.727784%2012.2241582%2C231.850236%2011.8856357%2C232.089727%20C11.5433086%2C232.380948%2011.3412673%2C232.797575%2011.3280478%2C233.239524%20L12.3168371%2C233.336544%20C12.3118734%2C233.115932%2012.3870846%2C232.900679%2012.5292515%2C232.728618%20C12.8124615%2C232.488233%2013.2338215%2C232.484726%2013.521227%2C232.720361%20C13.6488467%2C232.855654%2013.7140671%2C233.035733%2013.7017793%2C233.218881%20C13.6937327%2C233.432916%2013.6197322%2C233.63967%2013.4893648%2C233.812358%20C13.2408452%2C234.112072%2012.9669355%2C234.391035%2012.6705071%2C234.646322%20L12.6705071%2C234.641161%20Z%20M17.6696813%2C236.823092%20L18.635105%2C236.823092%20L18.635105%2C235.804376%20L19.2829691%2C235.804376%20L19.2829691%2C234.955962%20L18.635105%2C234.955962%20L18.635105%2C231.746026%20L17.79713%2C231.746026%20L15.5381023%2C234.960091%20L15.5381023%2C235.808505%20L17.6696813%2C235.808505%20L17.6696813%2C236.827221%20L17.6696813%2C236.823092%20Z%20M16.4727258%2C234.951834%20L17.6696813%2C233.221978%20L17.6696813%2C234.955962%20L16.4727258%2C234.955962%20L16.4727258%2C234.951834%20Z%22%20transform%3D%22translate%28-7%20-225%29%22/%3E%3C/svg%3E) no-repeat 95% center; }

.field-item.date i.fields.date.icon,
.field-item.datetime i.fields.datetime.icon {
	position: absolute;
	top: 50%;
	right: 5px;
	display: block;
	opacity: 0;
	cursor: text;
	transition: 220ms all ease;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.ui-entity-editor-content-block span.fields > span.money input {
	display: inline-block;
	margin-right: 10px;
	width: calc(100% - 160px);
}

.fields input[type=button],
.ui-entity-editor-content-block input[type=button],
.ui-entity-card-content-add-field {
	display: inline;
	padding: 0;
	width: auto;
	border: none;
	border-bottom: 1px dotted #cbced2;
	background: none;
	color: #80868e;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: all 220ms ease;
}

.ui-entity-editor-content-block-new-fields .ui-entity-card-content-add-field {
	border-bottom: 1px dotted;
	color: #468ee5;
}

.ui-entity-editor-content-block input[type=button]:hover,
.ui-entity-card-content-add-field:hover {
	border-bottom-color: #80868e;
	color: #3e3e3e;
}

.ui-entity-editor-block-inner-text-image {
	margin-left: 5px;
	width: auto;
	height: 27px;
	vertical-align: middle;
}

.ui-entity-editor-section-add-btn-container {
	position: relative;
	z-index: 800;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	margin-bottom: 15px;
	padding: 0 15px;
	-webkit-box-align: center;
	align-items: center;
}

.ui-entity-settings-link,
.ui-entity-add-widget-link {
	margin-right: 15px;
	border-bottom: 1px dashed #cbced2;
	color: #80868e !important;
	text-decoration: none;
	font: 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.ui-entity-settings-link:hover,
.ui-entity-add-widget-link:hover {
	border-color: #333;
	color: #333 !important;
}

.bitrix24-light-theme .ui-entity-settings-link,
.bitrix24-light-theme .ui-entity-add-widget-link {
	border-bottom: 1px dashed #fff;
	color: #fff !important;
	opacity: .8;
}

.bitrix24-light-theme .ui-entity-settings-link:hover,
.bitrix24-light-theme .ui-entity-add-widget-link:hover {
	border-color: #fff;
	color: #fff !important;
	opacity: 1;
}

.field-item .main-ui-square-search {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 19;
}

.field-item .main-ui-control:after,
.field-item .main-ui-control:before { z-index: 15; }

.field-item .main-ui-multi-select { padding: 3px 32px 1px 3px !important; }

.field-item .main-ui-multi-select .main-ui-select-name {
	position: absolute;
	top: 0;
	right: 20px;
	bottom: 0;
	left: 10px;
	z-index: 15;
	overflow: hidden;
	padding: 0;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 36px;
	-o-text-overflow: ellipsis;
}

.field-item .main-ui-multi-select .main-ui-square { float: none; }

.field-item .main-ui-multi-select .main-ui-square-search-item {
	position: relative;
	display: inline-block !important;
	margin-top: -10px;
	padding: 0 !important;
	min-height: 20px !important;
	width: 1px !important;
	border: none !important;
	background-color: transparent !important;
	opacity: 0 !important;
}


/*endregion*/

/*region Editor - File*/
.field-item.file .webform-small-button.webform-button-upload,
.field-item.file .webform-field-upload,
.field-item.file .webform-field-upload input[type=file],
.field-item.file .webform-small-button.webform-button-replace,
.field-item.file .webform-small-button.webform-button-replace input[type=file] {
	width: auto;
	height: auto;
	border: none;
	background: none;
	box-shadow: none;
	text-transform: lowercase;
	line-height: initial;
	cursor: pointer;
}

.field-item.file .webform-field-upload {
	display: inline-block;
	max-height: 20px;
}

.field-item.file .webform-small-button.webform-button-upload {
	position: relative;
	border-bottom: 1px dashed;
	color: #80868e;
	font: 400 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	transition: 220ms all ease;
}

.field-item.file .webform-field-upload:hover .webform-small-button.webform-button-upload { color: #333; }

.field-item.file .webform-field-upload-list.webform-field-upload-list-multiple { margin: 0 0 10px 16px; }

.field-item.file .webform-field-upload-list.webform-field-upload-list-single { margin: 0; }

.field-item.file .bx-bxu-thumb-thumb { margin: 0; }

.field-item.file .webform-field-upload-list li { margin-bottom: 5px; }

.field-wrap.file .webform-field-upload-list a.upload-file-name {
	display: inline-block;
	overflow: hidden;
	margin: -1px 0;
	max-width: calc(100% - 61px);
	color: #0069c4;
	vertical-align: middle;
	text-decoration: underline;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}

.field-item.file .webform-field-upload-list li div.webform-field-item-wrap {
	white-space: normal;
	font: 400 13px/15px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-entity-editor-content-block .fields.file img {
	max-width: 100%;
	height: auto;
}

/*endregion*/

/*region Editor - Money*/
.field-item .money-editor {
	display: flex;
}

.field-item .main-ui-control.main-ui-select {
	width: 150px;
	padding: 2px 9px !important;
}
/*endregion*/

/*endregion*/

/*endregion*/

/*region Popup New Field*/
.ui-entity-editor-popup-create-field-popup {
	position: relative;
	overflow: hidden;
	padding: 0;
}

.ui-entity-editor-popup-create-scroll-control-top,
.ui-entity-editor-popup-create-scroll-control-bottom {
	position: absolute;
	right: 0;
	left: 0;
	height: 34px;
	background-color: #f8f9f9;
	cursor: pointer;
	transition: 250ms linear all;
}

.ui-entity-editor-popup-create-scroll-control-top.control-hide {
	-webkit-transform: translatey(-100%);
	-ms-transform: translatey(-100%);
	transform: translatey(-100%)
}

.ui-entity-editor-popup-create-scroll-control-bottom.control-hide {
	-webkit-transform: translatey(100%);
	-ms-transform: translatey(100%);
	transform: translatey(100%)
}

.ui-entity-editor-popup-create-scroll-control-top:hover,
.ui-entity-editor-popup-create-scroll-control-bottom:hover { background-color: #f1f2f3; }

.ui-entity-editor-popup-create-scroll-control-top { top: 0; }

.ui-entity-editor-popup-create-scroll-control-bottom { bottom: 0; }

.ui-entity-editor-popup-create-scroll-control-top svg,
.ui-entity-editor-popup-create-scroll-control-bottom svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transition: 250ms linear all;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.ui-entity-editor-popup-create-scroll-control-top svg {
	-webkit-transform: translate(-50%, -50%) rotate(180deg);
	-ms-transform: translate(-50%, -50%) rotate(180deg);
	transform: translate(-50%, -50%) rotate(180deg);
}

.ui-entity-editor-popup-create-field-list {
	overflow: auto;
	padding: 10px;
	max-width: 500px;
	min-width: 250px;
	max-height: 500px;
}

.ui-entity-editor-popup-create-scroll-control-top svg polyline,
.ui-entity-editor-popup-create-scroll-control-bottom svg polyline { transition: 250ms linear all; }

.ui-entity-editor-popup-create-scroll-control-top:hover svg polyline,
.ui-entity-editor-popup-create-scroll-control-bottom:hover svg polyline { stroke: #a0a5ad; }

.ui-entity-editor-popup-create-field-item {
	display: block;
	padding: 11px 5px;
	border-bottom: 1px solid #f6f7f8;
	background-color: transparent;
	cursor: pointer;
	transition: all 220ms linear;
}

.ui-entity-editor-popup-create-field-item:hover { background-color: #f6f7f8; }

.ui-entity-editor-popup-create-field-list .ui-entity-editor-popup-create-field-item:last-child { border-bottom: none; }

.ui-entity-editor-popup-create-field-item-title {
	display: block;
	margin-bottom: 2px;
	color: #000;
	font: 600 14px/19px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-entity-editor-popup-create-field-item-desc {
	display: block;
	color: #828b95;
	font: 400 13px/18px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-entity-card-content-hide {
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	max-height: 0;
	opacity: 0;
	transition: all 310ms ease-in-out;
}

.ui-entity-card-content-show {
	overflow: hidden;
	max-height: 400px;
	transition: all 310ms ease-in-out;
}

/*endregion*/

/*region field selector*/
.ui-entity-editor-popup-field-selector {
	position: relative;
	overflow: auto;
	padding-right: 10px;
	padding-left: 10px;
	height: auto;
	background: #fff;
	font-family: 'OpenSans-Regular', "Helvetica Neue", Arial, Helvetica, sans-serif;
	opacity: 1;
}

.ui-entity-editor-popup-field-selector-list {
	padding-top: 8px;
	padding-bottom: 16px;
	border-bottom: 1px rgba(0, 0, 0, .05) solid;
	-webkit-column-count: 3;
	column-count: 3;
}

.ui-entity-editor-popup-field-selector-list-label { padding-bottom: 5px; }

.ui-entity-editor-popup-field-selector-list-item {
	position: relative;
	display: block;
	border-radius: 2px;
	color: #80868e;
	font: 14px/33px "Helvetica Neue", Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-column-break-inside: avoid;
}

.ui-entity-editor-popup-field-selector-list-item .ui-entity-editor-popup-field-selector-list-label:not([contenteditable="true"]) { transition: background 200ms; }

.ui-entity-editor-popup-field-selector-list-checkbox {
	position: absolute;
	top: 10px;
	margin: 0 7px;
	vertical-align: middle;
}

.ui-entity-editor-popup-field-selector-list-label {
	display: block;
	box-sizing: border-box;
	margin-right: 1px;
	padding: 6px 20px 6px 28px;
	min-height: 33px;
	width: auto;
	height: auto;
	outline: none;
	border: 1px transparent solid;
	vertical-align: middle;
	line-height: 19px;
	cursor: pointer;
	transition: border 200ms;
}

.ui-entity-editor-popup-field-selector-list-label[contenteditable="true"] { border: 1px rgba(59, 153, 252, .6) solid; }

.ui-entity-editor-popup-field-selector-list-checkbox:checked + .ui-entity-editor-popup-field-selector-list-label,
.ui-entity-editor-popup-field-selector-list-item:hover .ui-entity-editor-popup-field-selector-list-label:not([contenteditable="true"]) { background: #f3f6f8; }

.ui-entity-editor-popup-field-selector-list-item .ui-entity-editor-popup-field-selector-list-edit-button {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	width: 20px;
	height: 31px;
	opacity: 0;
}

.ui-entity-editor-popup-field-selector-list-item .ui-entity-editor-popup-field-selector-list-edit-button::before {
	position: relative;
	top: 2px;
	left: -7px;
	z-index: 1;
	display: inline-block;
	width: 20px;
	height: 31px;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2210%22%20height%3D%2210%22%20viewBox%3D%220%200%2010%2010%22%3E%3Cpath%20fill%3D%22%23525C68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M.667%207.415L0%2010l2.444-.765c-.152-.417-.376-.797-.66-1.12-.318-.325-.7-.563-1.117-.7zm5.407-5.963l-4.78%205.213c.397.208.765.474%201.094.792.27.343.496.725.67%201.135l4.777-5.21c-.185-.447-.437-.857-.746-1.213-.296-.306-.64-.548-1.018-.715l.002-.003zM8.807.395c-.242-.26-.57-.403-.91-.395-.338.008-.66.165-.892.435l-.287.313c.382.177.732.428%201.033.74.304.348.55.75.732%201.187l.288-.314c.248-.252.39-.604.398-.974.006-.37-.125-.728-.364-.99h.003z%22/%3E%3C/svg%3E);
	background-position: center;
	background-repeat: no-repeat;
	content: '';
}

.ui-entity-editor-popup-field-selector-list-item .ui-entity-editor-popup-field-selector-list-edit-button::after {
	position: absolute;
	top: 5px;
	left: -10px;
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: transparent;
	content: '';
	transition: background 200ms;
}

.ui-entity-editor-popup-field-selector-list-item:hover .ui-entity-editor-popup-field-selector-list-edit-button { opacity: .8; }

.ui-entity-editor-popup-field-selector-list-item .ui-entity-editor-popup-field-selector-list-edit-button:hover,
.ui-entity-editor-popup-field-selector-list-label[contenteditable="true"] + .ui-entity-editor-popup-field-selector-list-edit-button { opacity: 1; }

.ui-entity-editor-popup-field-selector-list-label[contenteditable="true"] + .ui-entity-editor-popup-field-selector-list-edit-button::after { background: #bbed21; }

.ui-entity-editor-popup-field-selector-list-label[contenteditable="true"] + .ui-entity-editor-popup-field-selector-list-edit-button:hover::after { background: #d2f95f; }

.ui-entity-editor-popup-field-selector-list-edit-input {
	position: absolute;
	top: 5px;
	left: 28px;
	display: none;
	margin-left: 0;
	padding-left: 0;
	width: calc(100% - 50px);
	height: 19px;
	border: none;
	background: none;
	color: #80868e;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 19px;
}

.ui-entity-editor-popup-field-selector-list-item-edit .ui-entity-editor-popup-field-selector-list-edit-input {
	z-index: 1;
	display: block;
}

.ui-entity-editor-popup-field-selector-list-edit .ui-entity-editor-popup-field-selector-list-edit-button { opacity: .8; }

.ui-entity-editor-popup-field-selector-list-edit .ui-entity-editor-popup-field-selector-list-label { color: transparent; }

.ui-entity-editor-popup-field-selector-list-caption {
	display: block;
	margin: 10px 0 12px 8px;
	padding: 6px 20px 18px 0;
	border-bottom: 1px solid #e2e2e3;
	color: #63676c;
	font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-column-break-inside: avoid;
}

/*endregion*/

.menu-popup-items .menu-popup-item-text img,
.ui-entity-editor-field-select .ui-entity-editor-block-inner img,
.ui-entity-card-content-select img { vertical-align: middle; }

/*region D&D*/
.ui-entity-cards-drag { }

.ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-header-draggable-btn-container {
	position: absolute;
	left: -15px;
	width: 15px;
	opacity: 0;
	cursor: grab;
	cursor: -webkit-grab;
	transition: 250ms linear opacity;
}

.ui-entity-editor-header-draggable-btn-container {
	top: 50%;
	transform: translateY(-50%);
	height: 28px;
}

.ui-entity-editor-block-draggable-btn-container {
	top: -4px;
	height: 20px;
}

.ui-entity-editor-content-block-field-readonly .ui-entity-editor-block-draggable-btn-container { top: -4px !important }

.ui-entity-editor-section-edit .ui-entity-editor-content-block-field-radiobox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-section-edit .ui-entity-editor-field-checkbox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-section-edit .ui-entity-editor-content-block-field-custom-radiobox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-section-edit .ui-entity-editor-field-custom-checkbox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-content-block-edit.ui-entity-editor-content-block-field-radiobox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-content-block-edit.ui-entity-editor-field-checkbox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-content-block-edit.ui-entity-editor-content-block-field-custom-radiobox .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-content-block-edit.ui-entity-editor-field-custom-checkbox .ui-entity-editor-block-draggable-btn-container { top: 2px; }

.ui-entity-editor-content-block:hover > .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-section-header:hover > .ui-entity-editor-header-draggable-btn-container { opacity: .4; }

.ui-entity-item-ghost .ui-entity-editor-block-draggable-btn-container,
.ui-entity-field-grabbing .ui-entity-editor-block-draggable-btn-container,
.ui-entity-editor-content-block .ui-entity-editor-block-draggable-btn-container:hover,
.ui-entity-item-ghost .ui-entity-editor-header-draggable-btn-container,
.ui-entity-section-grabbing .ui-entity-editor-header-draggable-btn-container,
.ui-entity-editor-section-header .ui-entity-editor-header-draggable-btn-container:hover { opacity: 1 !important; }

.ui-entity-field-grabbing,
.ui-entity-section-grabbing {
	background-color: #fff;
	position: absolute;
	z-index: 500;
	opacity: 0.9;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .12);
	-webkit-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-animation: dragRotate 300ms ease 1;
	animation: dragRotate 300ms ease 1;
}

.ui-entity-field-grabbing {
	box-sizing: content-box;
	padding: 5px 15px;
}

.ui-entity-section-grabbing {
	box-sizing: border-box;
	padding: 0 15px;
}

.ui-entity-item-ghost { opacity: .3 !important; }

.ui-entity-item-ghost .ui-entity-editor-section-content { overflow: hidden; }

@-webkit-keyframes dragRotate {
	0% {
		-webkit-transform: rotate(0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);
	}
	100% {
		-webkit-transform: rotate(3deg);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
	}
}

@keyframes dragRotate {
	0% {
		transform: rotate(0);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);
	}
	100% {
		transform: rotate(3deg);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);
	}
}

/*region D&D btn*/
.ui-entity-editor-draggable-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -7px;
	margin-left: -5px;
	width: 10px;
	height: 14px;
	background: no-repeat center url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%226%22%20height%3D%2214%22%20viewBox%3D%220%200%206%2014%22%3E%0A%20%20%3Cg%20fill%3D%22%23525C69%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M0%200L2%200%202%202%200%202%200%200zM0%204L2%204%202%206%200%206%200%204zM0%208L2%208%202%2010%200%2010%200%208zM0%2012L2%2012%202%2014%200%2014%200%2012zM4%200L6%200%206%202%204%202%204%200zM4%204L6%204%206%206%204%206%204%204zM4%208L6%208%206%2010%204%2010%204%208zM4%2012L6%2012%206%2014%204%2014%204%2012z%22/%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A);
	transition: all 300ms ease;
}

.ui-entity-section-grabbing .ui-entity-editor-draggable-btn,
.ui-entity-editor-draggable-btn:active {
	cursor: grabbing;
	cursor: -webkit-grabbing;
}

/*endregion*/

.ui-entity-editor-section-place {
	position: relative;
	z-index: 800;
	box-sizing: border-box;
	margin-bottom: 15px;
	padding: 0 15px;
	background-color: rgba(255, 255, 255, 0.3);
	height: 44px;
	border: 2px dashed #d5d8d8;
	border-radius: 1px;
	transition: 220ms linear all;
	-webkit-animation: showWidgetPlace 100ms linear 1;
	animation: showWidgetPlace 100ms linear 1;
	animation-fill-mode: forwards;
}

.ui-entity-editor-section-place:hover { border-color: #abb0b7; }

.ui-entity-editor-content-block-place {
	position: relative;
	margin: 0 0 10px 15px;
	box-sizing: border-box;
	padding: 0;
	min-height: 50px;
	width: calc(100% - 42px);
	border: 2px dashed #d5d8d8;
	border-radius: 2px;
	transition: 220ms ease all;
}

.ui-entity-editor-content-block-place:hover { border-color: #abb0b7; }

@-webkit-keyframes showWidgetPlace {
	0% { height: 0; }
	100% { height: 44px; }
}

@keyframes showWidgetPlace {
	0% { height: 0; }
	100% { height: 44px; }
}

/*endregion*/

.ui-entity-editor-line {
	border: none;
	height: 1px;
	background-color: #e8ecee;
	margin: 0 0 14px;
}

.address-ctl-icon-company {
	/*position: relative;*/
	/*border-right: 1px solid #d00;*/
	background-size:20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%229%22%20cy%3D%229%22%20r%3D%229%22%20fill%3D%22%23828B95%22%20opacity%3D%221%22/%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M11.575%207.291V4.04a.5.5%200%200%200-.5-.5H5.189a.5.5%200%200%200-.5.5v9.656a.5.5%200%200%200%20.504.5l8.107-.068a.5.5%200%200%200%20.496-.5V7.791a.5.5%200%200%200-.5-.5h-1.721zm-1.262%205.493h-.938v-1.741h-2.67v1.741h-.937V4.813h4.612l-.067%207.971zm2.411-.335h-1.34v-1.34h1.34v1.34zm0-2.612h-1.34v-1.34h1.34v1.34z%22/%3E%3Cpath%20d%3D%22M6.906%205.818h2.437v1.339H6.906zM6.906%208.43h2.457v1.34H6.906z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E) ;
}

.ui-ctl-before.address-ctl-icon-company:after {
	content: '';
	right: 0;
	width: 1px;
	background: #EDEEF2;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	position: absolute;

}
.address-ctl-icon-contact {
	/*position: relative;*/
	/*border-right: 1px solid #d00;*/
	background-size:20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='50px' height='50px' viewBox='0 0 50 50' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ccircle fill='%23828B95' cx='25' cy='25' r='25'%3E%3C/circle%3E%3Cpath d='M37.0009684,31.3372956 C37.0009684,30.1698446 35.4462257,28.8362856 32.3845787,28.0591588 C31.3473035,27.7751734 30.3612491,27.3347978 29.4616625,26.7537737 C29.2649277,26.6434264 29.2948266,25.6238877 29.2948266,25.6238877 L28.308761,25.4765623 C28.308761,25.3938018 28.2244461,24.1711771 28.2244461,24.1711771 C29.4042566,23.7820268 29.2828671,21.4864506 29.2828671,21.4864506 C30.0321334,21.8943835 30.5200834,20.0777616 30.5200834,20.0777616 C31.4062868,17.5538605 30.0787757,17.7064684 30.0787757,17.7064684 C30.3110185,16.165688 30.3110185,14.599749 30.0787757,13.0589686 C29.4885715,7.94777523 20.6026193,9.33533391 21.6562564,11.0046304 C19.0592382,10.5350674 19.6518343,16.3353445 19.6518343,16.3353445 L20.2151296,17.8373591 C19.1088704,18.5417036 19.87787,19.3933735 19.9161406,20.3735863 C19.9705566,21.8210143 20.8729053,21.5210809 20.8729053,21.5210809 C20.9285172,23.9099827 22.128659,24.2210682 22.128659,24.2210682 C22.3540967,25.721322 22.2135718,25.4659971 22.2135718,25.4659971 L21.1455832,25.5927791 C21.1600407,25.9339529 21.1317235,26.2755775 21.0612683,26.60997 C19.8055147,27.1593587 19.5352286,27.4815963 18.2872487,28.018659 C15.8762016,29.0558063 13.2558623,30.4046261 12.7900374,32.220661 C12.3242126,34.0366959 11.8912357,37.9916471 11.8912357,37.9916471 L38.3075701,37.9916471 L37.0009684,31.3372956 Z' fill='%23FFFFFF'%3E%3C/path%3E%3C/svg%3E");
}

.ui-ctl-before.address-ctl-icon-contact:after {
	content: '';
	right: 0;
	width: 1px;
	background: #EDEEF2;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	position: absolute;

}

.ui-entity-editor-block-title-link,
.ui-entity-editor-block-title-link:hover {
	font:12px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}